@page "/estatico/politica_de_privacidad"
@model isolaatti_API.Pages.s.Legal.PrivacyPolicy

@{
    Layout = "Shared/_LayoutWebAppOutside";
    ViewData["Title"] = "Política de privacidad";
}

<div class="d-flex flex-column mt-4 p-3">
    <h1>Política de privacidad</h1>
    <p>
        Es importante que usted conozca quien es quien. <strong>Isolaatti Software</strong> se refiere a la persona
        <strong>Erik Everardo Cavazos Hernández</strong>, quien mantiene la plataforma. <strong>Isolaatti Sofware</strong>
        se compromete a informar cualquier cambio a esta política, así como cambios de entidad legal representativa.
    </p>
    <p>
        A partir de aquí, y hasta el final del documento, al usar las palabras “nos”, “nosotros”, el sufijo
        “nos” o cualquier referencia a la primera persona del plural, se hace referencia a <strong>Isolaatti Software</strong>.
    </p>
    <p>
        A continuación, se pone a su disposición los temas de la política de privacidad. Lea todo antes de crear su cuenta.
    </p>
    <h2>Cookies</h2>
    <p>
        La plataforma Isolaatti en la web, hace uso de las cookies, con el objetivo de mantener la sesión iniciada y no
        para rastrear su actividad a través de otros sitios. Es obligatorio, para el correcto funcionamiento de la
        plataforma, mantener las cookies. No las desactive.
    </p>
    <h2>Sus datos personales</h2>
    <p>
        Usted debe estar perfectamente consciente de que voluntariamente ha proporcionado un nombre de usuario, una
        dirección de correo, una imagen de perfil (si es que la cargó garantiza que tiene derechos sobre la imagen),
        una grabación de audio (si es que la cargó garantiza que es de su autoría y que no viola ningún derecho),
        así como todo el contenido de sus discusiones y comentarios y su descripción del perfil. Nos comprometemos
        a no utilizar su información para otro fin que no sea intrínseco de la plataforma, es decir, no se pondrá
        a disposición de nadie externo a la plataforma su información.
    </p>
    <p>
        Además, es su responsabilidad la información que pueda difundir en la plataforma. No nos hacemos responsables
        si difunde datos personales, contraseñas, números de tarjeta, etc. Le recomendamos encarecidamente que no
        comparta información confidencial.
    </p>
    <h2>Acceso a los datos por nuestra parte</h2>
    <p>
        Nuestro personal interno autorizado puede visualizar el contenido de todas las discusiones, perfiles y en
        general todos los datos no encriptados sin importar el ajuste de privacidad. Nos comprometemos a no violar
        su intención marcada por el ajuste de privacidad.
    </p>
    <h2>Su contraseña</h2>
    <p>
        La contraseña que usted ingrese a la plataforma es hasheada (encriptación que no se puede revertir) para
        almacenarla, por lo que no es posible recuperarla si la olvida. La plataforma no mantiene su contraseña
        almacenada en texto plano, y nos comprometemos a borrar constantemente cualquier log de los servidores que
        pueda quedar.
    </p>
    <h2>Información proveída por otros servicios</h2>
    <p>
        Si usted decide iniciar sesión con Google, Facebook o Microsoft, es importante que sepa que sus credenciales
        de esas plataformas no pasan a nuestras manos, se envían directamente a los respectivos servicios para realizar
        la autenticación. La única información que obtenemos de esos servicios es su nombre y dirección de correo.
        Aunque es posible obtener su foto de perfil, no lo hacemos.
    </p>
    <h2>Discusiones públicas</h2>
    <p>
        Si el parámetro de privacidad de una discusión se asigna como “Todos” o “Público”, debe saber que será
        indizado por los motores de búsqueda. Todos los comentarios heredan la privacidad de la discusión.
    </p>
    <h2>Inquietudes</h2>
    <p>
        Si detecta alguna ambigüedad en esta política de privacidad, le ponemos a su disposición la siguiente
        dirección de correo:<br/>
        software@isolaatti.com
    </p>
</div>
