@page "/terminos_de_uso"
@model isolaatti_API.Pages.s.Legal.TermsOfUse

@section metadata
{
    <meta proerty="og-title" content="Terms of use"/>
}

@{
    Layout = "Shared/_LayoutWebAppOutside";
    ViewData["Title"] = "Términos de uso de Isolaatti Software";
}
<div class="d-flex flex-column p-3 mt-4">
    <p class="display-1" style="font-family: 'Zen Dots', serif;
                                             color: #eddff6;
                                             font-size: 40px;
                                             text-shadow: -3px 4px #6529a4;
                                             text-decoration: none;
                                             text-align: center;
                                             filter: drop-shadow(-10px 16px 50px rgb(62, 0, 99));">
        Isolaatti
    </p>
    <h1>Términos de uso del software de Isolaatti</h1>
    <p>Isolaatti Software le agradece cortesmente que utilice nuestros servicios. Estudie bien los siguiente términos de uso.</p>
    <h2>Política de privacidad</h2>
    <p>Antes de utilizar cualquiera de los productos de Isolaatti Software, es obligatorio leer y aceptar la política de privacidad vigente correspondiente al producto que desee utilizar.</p>
    <h2>Confiabilidad del software</h2>
    <p>
        Todo el software desarrollado por Isolaatti Software, y que directa o indirectamente se ponga a su disposición,
        está contruido con la intención de que sea útil y de buena calidad, pero no se ofrece garantía, ni de ausencia
        total de errores ni disponibilidad total del servicio.
    </p>
    <h2>Disponibilidad del código fuente</h2>
    <p>
        Algunos de los productos se publican como código abierto. Si es el caso del producto que desee utilizar,
        se le proporcionará un enlace al repositorio de código, generalmente mediante un enlace en la interfaz
        gráfica.
    </p>
    <p>
        El hecho de que sea código abierto hace que el código fuente se riga por la licencia definida en el repositorio.
        Si es una licencia restrictiva, no está permitido la privatización del código fuente.
    </p>
    <p>
        Además, dado que la disponibilidad del código fuente permite a todo el mundo "levantar" sus propias versiones
        de la aplicación, se le recomienda enfáticamente que revise bien quien le ofrece la implementación. Los
        productos distribuidos oficialmente estarán en un subdominio de isolaatti.com, o si no serán ofertados como
        oficiales desde un sitio web de isolaatti.com o un correo del mismo dominio.
    </p>
    <p>
        NO se ofrece soporte a usuarios finales que utilicen productos derivados del código fuente publicado. Póngase en
        contacto con el encargado del proyecto derivado.
    </p>
</div>