<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewData["Title"] | Isolaatti</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" 
              integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <link rel="stylesheet" href="~/css/sign_style.css"/>
    <link rel="stylesheet" href="~/css/custom_bootstrap.css">
    <link rel="shortcut icon" href="~/favicon.ico">
    <link rel="icon" type="image/png" sizes="196x196" href="~/favicon-192.png">
    <link rel="icon" type="image/png" sizes="160x160" href="~/favicon-160.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/favicon-96.png">
    <link rel="icon" type="image/png" sizes="64x64" href="~/favicon-64.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/favicon-32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/favicon-16.png">
    
    <script src="https://www.gstatic.com/firebasejs/7.23.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.6.8/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/ui/4.8.0/firebase-ui-auth.js"></script>
    <script src="https://kit.fontawesome.com/fde197fc03.js" crossorigin="anonymous"></script>
    <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/4.8.0/firebase-ui-auth.css" />

    <script>
    var firebaseConfig = {
        apiKey: "AIzaSyDZHVXLR_1imwVb2mCArnYpdbNx6XUPZBQ",
        authDomain: "isolaatti-b6641.firebaseapp.com",
        databaseURL: "https://isolaatti-b6641.firebaseio.com",
        projectId: "isolaatti-b6641",
        storageBucket: "isolaatti-b6641.appspot.com",
        messagingSenderId: "556033448926",
        appId: "1:556033448926:web:35759afc37d6a1585b1b4f",
        measurementId: "G-JQV4WX75RK"
    };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
                  
    var uiConfig = {
            signInSuccessUrl: 'GoogleAuth',
            signInOptions: [
              // Leave the lines as is for the providers you want to offer your users.
              firebase.auth.GoogleAuthProvider.PROVIDER_ID,
            ],
            // tosUrl and privacyPolicyUrl accept either url string or a callback
            // function.
            // Terms of service url/callback.
            tosUrl: '<your-tos-url>',
            // Privacy policy url/callback.
            privacyPolicyUrl: function() {
              window.location.assign('<your-privacy-policy-url>');
            }
          };
    
          // Initialize the FirebaseUI Widget using Firebase.
          var ui = new firebaseui.auth.AuthUI(firebase.auth());
          // The start method will wait until the DOM is loaded.
          ui.start('#firebaseui-auth-container', uiConfig);
    </script>
    @RenderSection("css",false)
</head>
<body>
<div class="container">
    <div class="row">
@RenderBody()
    </div>
    
</div>
<footer class="mt-3">
    <p class="text-center text-black-50">
        <a asp-page="MakeAccount">Sign up</a> | <a asp-page="LogIn">Sign in</a> | <a asp-page="About">About</a> | <a href="https://erik-swdev.isolaatti.com" target="_blank">erikswdev</a>
    </p>
    <p class="text-center text-black-50">
        made with <i class="fas fa-heart" style="color: red"></i> by erikswdevlab, 2021
    </p>
</footer>
@RenderSection("Scripts", false)
</body>
</html>