<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#30098E">
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#30098E">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#30098E">
    <title>Isolaatti Shared project - @ViewData["name"]</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/webapp_main.css"/>
    <link rel="shortcut icon" href="~/icon.png">
    <script src="https://kit.fontawesome.com/fde197fc03.js" crossorigin="anonymous"></script>
</head>
<body>
<nav class="nav custom-nav sticky-top">
    <a href="/" class="nav-link custom-nav-link" id="isolaatti_brand"></a>
    <a asp-page="/GetStarted" class="nav-link custom-nav-link nav-link mr-1 ml-auto">Get Started</a>
</nav>

<div class="container">
    @RenderBody()
</div>
@RenderSection("Scripts", false)
</body>
</html>