@page
@model isolaatti_API.Pages.s.DevSupport

@{
    Layout = "Shared/_LayoutWebAppOutside";
    ViewData["Title"] = "Support developer";
}
@section css
{
    <link rel="stylesheet" href="~/css/sign_style.css"/>
}

<h2>Support the developer</h2>
<p>My name is Erik Cavazos, from México. I've been developing the platform for the last 1 year and a 
    half. You can help me by trying this out and give feedback, or by <a href="https://www.paypal.com/invoice/p/#NALCG5YHHDMS3XKA">donating</a> . You'd be helping me to keep the infraestructure up.
</p>