@page
@model isolaatti_API.Pages.s.Features

@{
    Layout = "Shared/_LayoutWebAppOutside";
    ViewData["Title"] = "Features";
}
@section css
{
    <link rel="stylesheet" href="~/css/sign_style.css"/>
}
<div class="alert alert-info w-100 mt-2">
    This application is under development. Please, <a asp-page="DevSupport">support the development</a>.
</div>
<nav class="welcome-page-navbar">
    <a asp-page="/s/Welcome">The front</a>
    <a asp-page="/s/Features">Features</a>
    <a asp-page="/About">About</a>
</nav>
<h3 class="m-3 w-100 text-center">Features</h3>
<section class="d-flex justify-content-around flex-wrap">
    <article class="isolaatti-feature d-flex">
        <div class="d-flex align-items-center isolaatti-feature-icon">
            <i class="fas fa-headset"></i>
        </div>
        <div class="d-flex flex-column isolaatti-feature-content">
            <h5>Audio based</h5>
            <p>
                Attach audio to your posts to make them stronger. You have up to 2 minutes for each audio.
            </p>
        </div>
    </article>
    <article class="isolaatti-feature d-flex">
        <div class="d-flex align-items-center isolaatti-feature-icon">
            <i class="fab fa-markdown"></i>
        </div>
        <div class="d-flex flex-column isolaatti-feature-content">
            <h5>Markdown</h5>
            <p>
                Markdown syntax is compatible, allowing you to get more out of your written expression by making advanced formatted posts.
            </p>    
        </div>
    </article>
    <article class="isolaatti-feature d-flex">
        <div class="d-flex align-items-center isolaatti-feature-icon">
            <i class="fas fa-palette"></i>
        </div>
        <div class="d-flex flex-column isolaatti-feature-content">
            <h5>Themes</h5>
            <p>
                Customize the appearence of your post. You can modify almost everything, from font color and background to border style.
            </p>
        </div>
    </article>
    <article class="isolaatti-feature d-flex">
        <div class="d-flex align-items-center isolaatti-feature-icon">
            <i class="fas fa-comments"></i>
        </div>
        <div class="d-flex flex-column isolaatti-feature-content">
            <h5>Audio and text comments</h5>
            <p>
                Join the conversation. You can comment text and optionally audio as response to a post.
            </p>
        </div>
    </article>
    <article class="isolaatti-feature d-flex">
        <div class="d-flex align-items-center isolaatti-feature-icon">
            <i class="fas fa-globe"></i>
        </div>
        <div class="d-flex flex-column isolaatti-feature-content">
            <h5>Public posting</h5>
            <p>
                Do you want people that has no account to be able to read your posts as well? Make your post public and all its content will be available, including audios and comments.
            </p>
        </div>
    </article>
    <article class="isolaatti-feature d-flex">
        <div class="d-flex align-items-center isolaatti-feature-icon">
            <i class="fas fa-spinner"></i>
        </div>
        <div class="isolaatti-feature-content d-flex flex-column">
            <h5>Feed</h5>
            <p>
                See what people you follow has to tell. And when no more content is available, you can discover new accounts to follow.
            </p>
        </div>
    </article>
    <article class="isolaatti-feature d-flex">
        <div class="d-flex align-items-center isolaatti-feature-icon">
            <i class="fas fa-user"></i>
        </div>
        <div class="d-flex flex-column isolaatti-feature-content">
            <h5>Profiles</h5>
            <p>
                Make your profile yours! Customize it with a recorded description audio message, profile photo and a color.
            </p>
        </div>
    </article>
</section>