@page
@model isolaatti_API.Pages.s.Welcome

@{
    Layout = "Shared/_LayoutWebAppOutside";
    ViewData["Title"] = "Welcome";
}
@section css
{
    <link rel="stylesheet" href="~/css/welcome-purple-image.css"/>
}
<nav class="welcome-page-navbar">
    <a asp-page="/s/Welcome">The front</a>
    <a asp-page="/s/Features">Features</a>
    <a asp-page="/About">About</a>
</nav>

<div class="d-flex text-center" style="font-size: 3em; filter: drop-shadow(-16px 16px 50px #3e0063); margin-top: 25vh ">
    Your voice has more strength than you ever thought
</div>