@page
@model isolaatti_API.Pages.s.Welcome

@{
    Layout = "Shared/_LayoutWebAppOutside";
    ViewData["Title"] = "Welcome";
}
@section metadata
{
    <meta property="og:url"                content="https://isolaatti.com/s/Welcome" />
    <meta property="og:type"               content="website" />
    <meta property="og:description"        content="Isolaatti is an audio based social network and public posting tool" />
    <meta property="og:image"              content="https://isolaatti.com/res/imgs/metadata-image-isolaatti.png" />
}
<nav class="welcome-page-navbar">
    <a asp-page="/s/Welcome">Welcome</a>
    <a href="#features">Features</a>
    <a asp-page="/About">About</a>
</nav>

<div class="d-flex text-center" style="font-size: 3em; filter: drop-shadow(-16px 16px 50px #3e0063); margin-top: 25vh; margin-bottom: 25vh ">
    Your voice has more strength than you ever thought
</div>
<h3 class="m-3 w-100 text-center" id="features">Features</h3>
<section class="container-fluid mb-2">
    <div class="row">
        <div class="col-md-6">
            <article class="isolaatti-feature d-flex">
                <div class="d-flex align-items-center isolaatti-feature-icon">
                    <i class="fas fa-headset"></i>
                </div>
                <div class="d-flex flex-column isolaatti-feature-content">
                    <h5>Audio based</h5>
                    <p>
                        Attach audio to your posts to make them stronger. You have up to 2 minutes for each audio.
                    </p>
                </div>
            </article>
        </div>
        <div class="col-md-6">
            <article class="isolaatti-feature d-flex">
                <div class="d-flex align-items-center isolaatti-feature-icon">
                    <i class="fab fa-markdown"></i>
                </div>
                <div class="d-flex flex-column isolaatti-feature-content">
                    <h5>Markdown</h5>
                    <p>
                        Markdown syntax is compatible, allowing you to get more out of your written expression by making advanced formatted posts.
                    </p>    
                </div>
            </article>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <article class="isolaatti-feature d-flex">
                <div class="d-flex align-items-center isolaatti-feature-icon">
                    <i class="fas fa-palette"></i>
                </div>
                <div class="d-flex flex-column isolaatti-feature-content">
                    <h5>Themes</h5>
                    <p>
                        Customize the appearence of your post. You can modify almost everything, from font color and background to border style.
                    </p>
                </div>
            </article>
        </div>
        <div class="col-md-6">
            <article class="isolaatti-feature d-flex">
                <div class="d-flex align-items-center isolaatti-feature-icon">
                    <i class="fas fa-comments"></i>
                </div>
                <div class="d-flex flex-column isolaatti-feature-content">
                    <h5>Audio and text comments</h5>
                    <p>
                        Join the conversation. You can comment text and optionally audio as response to a post.
                    </p>
                </div>
            </article>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <article class="isolaatti-feature d-flex flex-column">
                <div class="d-flex align-items-center isolaatti-feature-icon">
                    <i class="fas fa-spinner"></i>
                </div>
                <div class="isolaatti-feature-content d-flex flex-column">
                    <h5>Feed</h5>
                    <p>
                        See what people you follow has to tell. And when no more content is available, you can discover new accounts to follow.
                    </p>
                </div>
            </article>
        </div>
        <div class="col-md-6">
            <article class="isolaatti-feature d-flex">
                <div class="d-flex align-items-center isolaatti-feature-icon">
                    <i class="fas fa-user"></i>
                </div>
                <div class="d-flex flex-column isolaatti-feature-content">
                    <h5>Profiles</h5>
                    <p>
                        Make your profile yours! Customize it with a recorded description audio message, profile photo and a color.
                    </p>
                </div>
            </article>
        </div>
    </div>
</section>
<div class="d-flex text-center" style="font-size: 3em; filter: drop-shadow(-16px 16px 50px #3e0063); margin-top: 25vh; margin-bottom: 25vh ">
     Stop your head from being in restlessness. No more things unexpressed.
</div>