/* 
   Erik Cavazos, 2021 
   erik10cavazos@gmail.com
   Styles for informative page
*/

/* External fonts */
@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');

/*************************************************************/
/* Rules */
* {
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    background-color: #110a1a;
    overflow-x: hidden;
}
a {
    color:white;
}
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: auto;
    animation: vary-color 10s linear infinite alternate-reverse;

    background-blend-mode: color-burn;
    background-position: center;
    z-index: 2000;
    width: 100%;
    
    color: white;

    font-family: sans-serif;
}

/*@media screen and (max-width: 1024px){*/
/*    #isolaatti{*/
/*        margin-top: auto;*/
/*        font-size: 0.6em;*/
/*    }*/
/*    .slogan {*/
/*        margin-top: auto;*/
/*        margin-bottom: 20px;*/
/*        font-size: 0.6em*/
/*    }*/
/*}*/

#isolaatti{
    margin-top: auto;
    font-size: 3em;
    text-align: center;
    font-family: 'Zen Dots', cursive;
}
.slogan {
    margin-top: auto;
    margin-bottom: 20px;
    font-size: 2em;
    text-align: center;
}

@keyframes vary-color {
    0%{
        background-color: #221155;
    }
    25%{
        background-color: #3d0da3;
    }
    75%{
        background-color: #0a075c;
    }
    100%{
        background-color: #510727;
    }
}


section {
    
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    flex-direction: column;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 150px;
    box-sizing: border-box;
    box-shadow: black;
    background: linear-gradient(90deg,#221155,black);
    flex-wrap: wrap;
}

.bottom-info-item {
    color: white;
    margin: 30px;
    font-family: sans-serif;
    font-size: 1.5em;
}

.links {
    display: flex;
    flex-direction: column;
}

.links::before {
    content: "Contact me";
    color: white;
    font-family: sans-serif;
    text-align: center;
}

.links > div {
    display: flex;
    justify-content: center;

}

.link {
    margin: 0 5px;
}
.link a{

    color:white;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.flex {
    display: flex;
}

.nav-buttons a{
    padding: 15px;
    margin: 15px;
    color: white;
    font-family: sans-serif;
    border-radius: 10px;
    border: 1px white solid;
    text-decoration: none;
}

.nav-buttons a:hover {
    background-color: #000;
}

#isolaatti-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    margin-left: 10px;
    margin-top: 20px;
    border-radius: 10px;
    text-decoration: none;
    filter: drop-shadow(16px 16px 30px #3e0063);
    background: conic-gradient(from 45deg at 50% 50%, #2f0148, #000000, #2f0148, #000000 );
}
#isolaatti-icon:before {
    content: "Is";
    font-family: 'Zen Dots', cursive;
    color: white;
    font-size: 40px;
    text-shadow: -3px 4px #11022b;
    text-decoration: none;
}

section article {
    width: 100%;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    color:white;
    font-family: sans-serif;
    box-sizing: border-box;
    flex-direction: column;
    min-height: 300px;
    align-items: center;
    justify-content: center;
}

section article:nth-child(1){
    background-image: url('../res/imgs/ia.jpeg');
    background-blend-mode: hard-light;
    background-color: black;
    background-attachment: fixed;
}

section article:nth-child(2) {
    background-image: url('../res/imgs/mixer.png');

    background-position: center;
    background-position: left;
    background-blend-mode:color-burn;
    background-color: rgb(47, 1, 72);
    background-attachment: fixed;
}

section article:nth-child(3){
    background-color: rgb(1, 10, 42);
    background-blend-mode:saturation;
    background-image: url('../res/imgs/posting_isolaatti.png');
    background-position:bottom;
    background-attachment: fixed;
}

section article:nth-child(4) {
    background-color: rgb(0, 68, 16);
    background-blend-mode:color-burn;
    background-image: url('../res/imgs/coding.png');
    background-position:bottom;
    background-attachment: fixed;
}
section article:nth-child(5) {
    justify-content: space-around!important;
    flex-direction: row;
}
#android-app-comming-soon{
    font-size: 2.7em;
    font-family: 'Zen Dots', cursive;
    margin-bottom: 30px;
    max-width: 50%;
}

#img-isolaatti-android{
    margin-right: -100%;
    
}

.img-isolaatti-android_appear {
    animation: 1s appear-android-img linear forwards;
}

@keyframes appear-android-img {
    0%{
        margin-right: -100%;
    }
    100%{
        margin-right: 0;
    }
}
section article p {
    background-color: black;
    padding: 20px;
    max-width: 500px;
}
section article > h4 {
    font-size: 2em;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
}
section article p {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
}

section article > .article-ilustration {
    margin-top: auto;
}

section article > .article-ilustration ul li {
    display: inline-block;
    margin: 10px;
}

.article-ilustration a {
    color:white;
}


.ingredients{
    display: flex;
    flex-direction: column;
}

.ingredients::before{
    content: "Ingredients";
    text-align: center;
    color:white;
    font-family: sans-serif;
}

.ingredients div {
    display: flex;
    justify-content: center;
}

span.ingredient {
    margin: 0 5px;
    color: white;
    font-family: sans-serif;
}