@page
@model isolaatti_API.Pages.admin.AdminPortal

@{
    Layout = "Shared/_LayoutAdminPortal";
    ViewData["Title"] = "Inicio";
}

<div class="d-flex flex-column m-3">
    <h1 class="mt-4">Inicio</h1>
    <h4>Usuarios</h4>
    <div class="d-flex flex-wrap justify-content-center">
        <div class="card m-1 bg-dark text-white">
            <div class="card-header">
                Usuarios
            </div>
            <div class="card-body">
                <p>Número de usuarios: @ViewData["numeroDeUsuarios"]</p>
                <h5 class="card-title">Ultimos 5 usuarios</h5>
                <ul class="list-group">
                    @foreach (var user in Model.Last5Users)
                    {
                        <li class="list-group-item bg-dark text-white">
                            @user.Name<br>
                            <small>@user.Email</small>
                        </li>
                    }
                </ul>
            </div>
            <div class="card-footer">
                <a asp-page="/admin/ListUsers">Buscar usuario</a>
            </div>
        </div>
        <div class="card m-1 bg-dark text-white">
            <div class="card-header">
                Publicaciones
            </div>
            <div class="card-body">
                <p>Número de publicaciones: @ViewData["numeroDePublicaciones"]</p>
            </div>
            <div class="card-footer">
                <a href="#">Buscar publicaciones</a>
            </div>
        </div>
    </div>
    
    
</div>