@page
@model isolaatti_API.Pages.Apps.Index

@{
    Layout = "Shared/_LayoutWebApp";
    ViewData["Title"] = "Musical tools";
}
<script>document.querySelector("#musical-tools-link").classList.add("custom-active-nav-link")</script>
<div class="col-lg-3 col-md-2"></div>
<div class="col-lg-6 col-md-8">
    <h5 class="m-3"><i class="fas fa-toolbox"></i> Musical tools</h5>
    <table class="table">
        <thead>
        <th>
            App
        </th>
        <th>
            Description
        </th>
        <th>
            Author
        </th>
        </thead>
        <tbody>
        <tr>
            <td>
                <a asp-page="MusicDemixer/Index">
                    Music demixer
                </a>
            </td>
            <td>
                Get instrument separated tracks from a mixed song
            </td>
            <td>
                Erik Cavazos
            </td>
        </tr>
        </tbody>
    </table>
    <h3 class="text-center m-5">New apps coming soon</h3>
</div>
<div class="col-lg-3 col-md-2"></div>