@page "/bootloader"
@model Isolaatti.Pages.Bootloader.Index

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Isolaatti</title>
</head>
<body>
<div>
    <p>Cargando, espera por favor...</p>
</div>
</body>
</html>