@page "/recuperacion_cuenta"
@using Isolaatti.Config
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.Extensions.Options
@model Isolaatti.Pages.ForgotPassword

@inject IOptions<ReCaptchaConfig> RecaptchaConfig

@{
    Layout = "Shared/_LayoutWebAppOutside";
    ViewData["Title"] = "Olvidaste tu contraseña";
}
@section Scripts
{
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
}

<div class="col-md-3"></div>
<div class="col-md-6 d-flex justify-content-center align-items-center">
        @if (Model.Post)
        {
            <div class="sign-in-up-form">
                <h2>Te enviamos un correo con un enlace para cambiar tu contraseña.</h2>
                <p>Si no lo encuentras, es posible que se encuentre en <em>spam</em> o <em>promociones</em></p>
                <section class="d-flex">
                    <a asp-page="Index" class="ml-2">Volver</a>
                </section>
            </div>
        }
        else
        {
            <form method="post" enctype="multipart/form-data" class="isolaatti-card p-5 d-flex flex-column align-content-center">
                <div id="isolaatti-brand">Isolaatti</div>
                <h2 class="mb-4">Olvidaste tu contraseña</h2>
                <p>Si olvidaste tu contraseña, escribe a continuación tu dirección de correo. Si corresponde a una cuenta, enviaremos un enlace secreto, que al abrirlo te permitirá cambiar la contraseña.</p>
                <div class="form-group">
                    <label for="email">Dirección de correo electrónico</label>
                    <input type="email" class="form-control mb-2" name="email" id="email" required/>
                    @if (Model.RecaptchaError)
                    {
                        <div class="alert alert-danger">Por favor, completa el reCAPTCHA</div>
                    }
                    <div class="g-recaptcha" data-sitekey="@RecaptchaConfig.Value.Site"></div>
                    <button type="submit" class="btn btn-primary w-100">Continuar</button>
                </div>
            </form>
        }
    </div>


<div class="col-md-3"></div>

