@page "/recuperacion_cuenta"
@model Isolaatti.Pages.ForgotPassword

@{
    Layout = "Shared/_LayoutWebAppOutside";
    ViewData["Title"] = "Olvidaste tu contraseña";
}
<div class="d-flex flex-column align-items-center justify-content-center sign-in-up-form-container">
    <div class="d-flex justify-content-center align-items-center">
        @if (Model.Post)
        {
            <div class="sign-in-up-form">
                <h2>Te enviamos un correo con un enlace para cambiar tu contraseña.</h2>
                <p>Si no lo encuentras, es posible que se encuentre en <em>spam</em> o <em>promociones</em></p>
                <section class="d-flex">
                    <a asp-page="Index" class="ml-2">Volver</a>
                </section>
            </div>
        }
        else
        {
            <form method="post" enctype="multipart/form-data" class="sign-in-up-form">
                <h2 class="mb-4">Olvidaste tu contraseña</h2>
                <p>Si olvidaste tu contraseña, escribe a continuación tu dirección de correo. Si corresponde a una cuenta, enviaremos un enlace secreto, que al abrirlo te permitirá cambiar la contraseña.</p>
                <div class="form-group">
                    <label for="email">Dirección de correo electrónico</label>
                    <input type="email" class="form-control mb-2" name="email" id="email" required/>
                    <button type="submit" class="btn btn-primary w-100">Continuar</button>
                </div>
            </form>
        }
    </div>
</div>




