@page
@model Isolaatti.Pages.LogOutPage

@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Espera un momento, estamos cerrando tu sesión...</title>
</head>
<body>
<div>
    <p>Espera un momento...</p>
</div>
<script>
document.cookie = "isolaatti_user_session_token=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
document.location = "/";
</script>
</body>
</html>