@page
@model Isolaatti.Pages.LogOutPage

@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Espera un momento, estamos cerrando tu sesión...</title>
</head>
<body>
<div>
    <p>Espera un momento...</p>
</div>
</body>
</html>