@page "/tu"
@model Isolaatti.Pages.MyProfile

@{
    Layout = "Shared/_LayoutWebApp";
    ViewData["Title"] = ViewData["name"];
}

@section CSS
{
    <script>const pageTitle = "Mi perfil"</script>
}


<div class="container">
    <my-profile></my-profile>
</div>


@section Scripts
{
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script src="https://unpkg.com/dompurify@2.3.5/dist/purify.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qrious/4.0.2/qrious.min.js"></script>

    <script src="~/js/VueComponents/newCommentComponent.js"></script>
    <script src="~/js/VueComponents/newDiscussionComponent.js"></script>
    <script src="~/js/VueComponents/postComponent.js"></script>
    <script src="~/js/VueComponents/commentComponent.js"></script>
    <script src="~/js/VueComponents/audioRecorder.js"></script>
    <script src="~/js/VueComponents/newQuickPost.js"></script>
    <script src="~/js/VueComponents/commentsViewer.js"></script>
    <script src="~/js/VueComponents/postsList.js"></script>
    <script src="~/js/VueComponents/audiosList.js"></script>
    <script src="~/js/VueComponents/profileImagesComponent.js"></script>
    <script src="~/js/VueComponents/usersGridComponent.js"></script>
    <script src="~/js/utils.js"></script>
    <script src="~/js/VueComponents/profileImageMakerComponent.js"></script>
    <script src="~/js/VueComponents/profileUserInfoComponent.js"></script>
    <script src="~/js/VueComponents/page/myProfileComponent.js"></script>
}