@page "/tu"
@model Isolaatti.Pages.MyProfile

@{
    Layout = "Shared/_LayoutWebApp";
    ViewData["Title"] = ViewData["name"];
    ViewData["squadsRouter"] = true;
}

@section CSS
{
    <script>const pageTitle = "Mi perfil"</script>
}


<div class="container p-0 m-0">
    <my-profile></my-profile>
</div>


@section Scripts
{
    <script src="https://cdn.jsdelivr.net/npm/marked-gfm-heading-id/lib/index.umd.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    
    <script src="https://unpkg.com/dompurify@2.3.5/dist/purify.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qrious/4.0.2/qrious.min.js"></script>
        <script>
        function getRoutesForPage() { 
            return [
                { path: "/", component: myProfileStartPage },
                { path: "/interacciones", component: interactions },
                { path: "/interacciones/likes", component: likesPage },
                { path: "/interacciones/discusiones", component: interactionsDiscussionsPage },
                { path: "/interacciones/en_squads", component: interactionsSquads }
            ]}
        </script>
    <script inline src="~/js/VueComponents/newCommentComponent.js"></script>
    <script inline src="~/js/VueComponents/newDiscussionComponent.js"></script>
    <script inline src="~/js/VueComponents/postComponent.js"></script>
    <script inline src="~/js/VueComponents/commentComponent.js"></script>
    <script inline src="~/js/VueComponents/audioRecorder.js"></script>
    <script inline src="~/js/VueComponents/newQuickPost.js"></script>
    <script inline src="~/js/VueComponents/commentsViewer.js"></script>
    <script inline src="~/js/VueComponents/postsList.js"></script>
    <script inline src="~/js/VueComponents/audiosList.js"></script>
    <script inline src="~/js/VueComponents/profileImagesComponent.js"></script>
    <script inline src="~/js/VueComponents/usersGridComponent.js"></script>
    <script inline src="~/js/VueComponents/imageUploaderComponent.js"></script>
    <script inline src="~/js/VueComponents/profileImageMakerComponent.js"></script>
    <script inline src="~/js/VueComponents/profileUserInfoComponent.js"></script>
    <script inline src="~/js/VueComponents/page/myProfileComponent.js"></script>
    <script inline src="~/js/VueComponents/page/myProfile/myProfileStartPage.js"></script>
    <script inline src="~/js/VueComponents/interactionsComponent.js"></script>
    <script inline src="~/js/VueComponents/page/interactionsSquads.js"></script>
    <script inline src="~/js/VueComponents/page/interactionsDiscussionsPage.js"></script>
    <script inline src="~/js/VueComponents/page/givenLikesComponent.js"></script>
}