@page "/perfil/{id}"
@model Isolaatti.Pages.Profile

@{
    Layout = "Shared/_LayoutWebApp";
    ViewData["Title"] = ViewData["profile_name"];
    ViewData["squadsRouter"] = true;
}

@if ((bool)ViewData["no-redirect"])
{
    <div class="alert alert-info">Te encuentras viendo tu perfil como se ve desde afuera</div>
}

<div class="container p-0 m-0">
    <profile :user-id="@ViewData["profile_id"]"></profile>
</div>

@section Scripts
{
    <script>
    function getRoutesForPage() { 
        return [
            { path: "/", component: profileStartPage },
            { path: "/interacciones", component: interactions },
            { path: "/interacciones/likes", component: likesPage },
            { path: "/interacciones/discusiones", component: interactionsDiscussionsPage },
            { path: "/interacciones/en_squads", component: interactionsSquads }
        ]}
    </script>
    <script src="https://cdn.jsdelivr.net/npm/marked-gfm-heading-id/lib/index.umd.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script src="https://unpkg.com/dompurify@2.3.5/dist/purify.min.js"></script>
    <script inline src="~/js/VueComponents/newCommentComponent.js"></script>
    <script inline src="~/js/VueComponents/commentsViewer.js"></script>
    <script inline src="~/js/VueComponents/postComponent.js"></script>
    <script inline src="~/js/VueComponents/commentComponent.js"></script>
    <script inline src="~/js/VueComponents/postsList.js"></script>
    <script inline src="~/js/VueComponents/audiosList.js"></script>
    <script inline src="~/js/VueComponents/profileImagesComponent.js"></script>
    <script inline src="~/js/VueComponents/imageUploaderComponent.js"></script>
    <script inline src="~/js/VueComponents/usersGridComponent.js"></script>
    <script inline src="~/js/VueComponents/profileUserInfoComponent.js"></script>
    <script inline src="~/js/VueComponents/page/profileComponent.js"></script>
    <script inline src="~/js/VueComponents/page/profile/profileStartPage.js"></script>
    <script inline src="~/js/VueComponents/interactionsComponent.js"></script>
    <script inline src="~/js/VueComponents/page/interactionsSquads.js"></script>
    <script inline src="~/js/VueComponents/page/interactionsDiscussionsPage.js"></script>
    <script inline src="~/js/VueComponents/page/givenLikesComponent.js"></script>
}
