@page
@model Isolaatti.Pages.RecoverPassword

@{
    Layout = "Shared/_LayoutWebAppOutside";
    ViewData["Title"] = "Recuperación de contraseña ";
}


<div class="col-12">
    <section class="d-flex justify-content-center align-items-center w-100 mt-5">
        <form method="post" class="p-5">
            <h2>Recuperación de cuenta</h2>
            @if (Model.NewPasswordInvalid)
            {
                <div class="alert alert-danger">
                    La contraseña no es válida
                </div>
            }
            @if (Model.UserDoesNotExist)
            {
                <div class="alert alert-danger">
                    Error: La contraseña no pudo ser cambiada, la cuenta ya no existe.
                </div>
            }
            <div class="form-group">
                <label for="password">Crea una nueva contraseña</label>
                <input type="password" id="password" class="form-control" autocomplete="off" asp-for="NewPassword"/>
                <input type="checkbox" id="toggle_password_visibility" class="mt-1"/>
                <label for="toggle_password_visibility">Mostrar contraseña</label>
                <button type="submit" class="btn btn-primary w-100 mt-2">Guardar</button>
            </div>
            <input type="hidden" asp-for="TokenId">
            <input type="hidden" asp-for="TokenValue">
        </form>
    </section>
</div>

@section css
{
    <link rel="stylesheet" href="~/css/welcome-purple-image.css"/>
}

@section Scripts
{
    <script>
        let togglePasswordVisibility = document.getElementById("toggle_password_visibility");
        let passwordField = document.getElementById("password");
        togglePasswordVisibility.onclick = function() {
            if(togglePasswordVisibility.checked){
                passwordField.type = "text";
            } else {
                passwordField.type = "password";
            }
        }
    </script>
}