@page
@model isolaatti_API.Pages.Reports.ThankYou

@{
    Layout = "Shared/_LayoutWebApp";
    ViewData["Title"] = "Thank you for reporting";
}
<h1 class="mt-4">
    Thanks for reporting, we'll review it as soon as possible!
</h1>