@page
@using Microsoft.Extensions.Hosting
@model isolaatti_API.Pages.WebApp.Index

@{
    Layout = "Shared/_LayoutWebApp";
    ViewData["Title"] = "Home";
}

<div class="col-lg-3 col-md-2"></div>
<div class="col-lg-6 col-md-8">
    <section id="new-project-area" class="d-flex flex-column pt-2 rounded-border-black black-box-shadow mt-2 mb-3 p-4">
        <h5>New project</h5>
        <p>Upload an audio file and get "Drums", "Bass", "Vocals" and "Others". You can record your tracks and add them later</p>
        <a class="btn btn-primary" asp-page="NewProject">Create new project</a>
    </section>
    <section class="d-flex flex-column p-4 pt-1 rounded-border-black black-box-shadow mt-2 mb-3" id="posting-area">
        <h5 class="mb-2">Simple text posting</h5>
        <textarea class="form-control w-100" id="simple-post-textarea" placeholder="Say something to your followers" rows="1"></textarea>
        <button type="button" class="btn btn-primary mt-1">Post</button>
    </section>
</div>
<div class="col-lg-3 col-md-2"></div>

@section Scripts
{
    <script>
    document.querySelector('#simple-post-textarea').addEventListener('focus', function(){
        setTimeout(function (){
            window.scroll({top:window.innerHeight,left: 0,behavior:'smooth'});
        },200)
    });
    </script>
}
