@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner&family=Roboto:wght@300&display=swap');
.colored-row {
    background-color: #22034f;
    color: white;
}
.colored-row-2 {
    background-color: rgba(34, 3, 79, 0.73);
    color: white;
}
.isolaatti-full-logo {
    margin: auto;
    font-family: 'Zen Dots', serif;
    color: #eddff6;
    font-size: 70px;
    text-shadow: -3px 4px #6529a4;
    text-decoration: none;
    text-align: center;
    filter: drop-shadow(-10px 16px 50px rgb(62, 0, 99));
}
p {
    font-size: larger;
    font-family: 'Roboto', sans-serif;
}

.topic {
    font-family: 'Roboto', sans-serif;
}
.topic2 {
    font-family: 'Edu VIC WA NT Beginner', cursive;
}
#mobile-button {
    display: none;
}

@media screen and (max-width: 1024px) {
    .isolaatti-full-logo {
        font-size: 50px;
    }
}

@media screen and (max-width: 560px) {
    #links {
        display: none!important;
    }
    #mobile-button {
        display: block;
        margin-right: auto;
    }
}

.rounded-feature-card {
    border-radius: 5px;
    padding: 1.5em;
    margin: 1.3em;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.rounded-feature-card h3 {
    font-weight: lighter;
    text-align: center;
    margin: 0.5em;
}
.rounded-feature-card p {
    color: white;
    font-weight: lighter;
}
.rounded-feature-card-purple {
    background-color: #331f54;
    color: white;
}
.rounded-feature-card-blue {
    background-color: #31409b;
    color: white;
}
.rounded-feature-card-orange {
    background-color: #b47d2d;
    color: white;
}
.rounded-feature-card-pink {
    background-color: #af4eb4;
    color: white;
}

.isolaatti-bug-btn {
    font-size: 30px!important;
    
}