#vue-container-for-notifications {
    position: fixed;
    height: calc(100% - 55px);
    right: 0;
    top: 55px;
    box-sizing: border-box;
    width: 0;
    z-index: 400;
}
#notifications-container {
    background-color: white;
    box-shadow: -5px 5px 5px 0px #DBDBDD;
    
    overflow: auto;
    height: 100%;
   
}

#notifications-container > h3 {
    position: sticky;
    top:0;
    z-index: 21;
    background-color: white;
}

@keyframes hideNotificationsContainer {
    0%{
        width: 300px;
    }
    100%{
        width: 0;
    }
}

@keyframes showNotificationsContainer {
    0%{
        width: 0;
    }
    100%{
        width: 300px;
    }
}

.notification-item {
    padding: 20px;
    background-color: white;
    box-shadow: -2px 2px 2px 0px #DBDBDD;
}