/* 
   Erik Cavazos, 2021 
   erik10cavazos@gmail.com
   Styles for sign in and sign out pages
*/
@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');

* {
    margin: 0;
    padding: 0;
}
body {
    min-height: 100vh;
    /* background-color: rgb(29, 3, 64); */
    color: black;
}
#isolaatti-logo h1{
    text-decoration-style: unset;
    font-family: 'Zen Dots', cursive;
    margin-bottom: 5px;
    margin-top: 20px;
}

.sign-in-up-form {
    background-color: rgb(29, 3, 64);
    padding: 40px;
    border-radius: 30px;
    max-width: 500px;
    color:white;
    margin: 10px;
    margin-top:60px;
}

.sign-in-up-form-container {
    min-height: 100vh;
    max-width: 400px;
}
#isolaatti-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    margin-left: 10px;
    margin-top: 20px;
    border-radius: 10px;
    text-decoration: none;
    filter: drop-shadow(-16px 16px 50px #3e0063);
    background: conic-gradient(from 45deg at 50% 50%, #2f0148, #000000, #2f0148, #000000 );
}
#isolaatti-icon:before {
    content: "Is";
    font-family: 'Zen Dots', cursive;
    color: white;
    font-size: 40px;
    text-shadow: -3px 4px #11022b;
    text-decoration: none;
}
article.isolaatti-feature {
    background-color: rgba(98, 0, 189, 0.81);
    margin-bottom: 1em;
    color: white;
    border-top-left-radius: 10px;
    transition-property: background-color, width;
    transition-duration: 250ms;
}

article.isolaatti-feature:hover {
    background-color: cadetblue;
    width: 100%;
}
.isolaatti-feature-content{
    margin: 1em;
}
article.isolaatti-feature .isolaatti-feature-icon{
    padding: 1em;
    font-size: 1.5em;
    background-color: black;
    box-sizing: border-box;
    width: 4em;
    justify-content: center;
}
nav.welcome-page-navbar {
    height: 60px;
    width: 100%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    
    display: flex;
    overflow: auto;
    align-items: center;
    padding: 10px;
}
nav.welcome-page-navbar a {
    margin: 0 10px;
    font-size: larger;
    color: #6200EE;
}
.footer-font-color {
    color: rgba(0,0,0,.5);
}