* {
    margin: 0;
    padding: 0;
}
body {
    background-image: url("../res/imgs/simple_mixer.jpg");
    background-blend-mode:darken;
    background-color: rgb(20, 3, 43);
    color: white;
}
h1 > a {
    color:white;
    text-decoration-style: unset;
}
h1 > a:hover {
    color:white;
    text-decoration-style: unset;
}