/* 
   Erik Cavazos, 2021 
   erik10cavazos@gmail.com
   Styles for informative page
*/

/* Animations */
@keyframes appear_picture {
    from {
        opacity: 0;
    }
    to {
        opacity: 1.0;
    }
}
/*************************************************************/
/* Rules */
* {
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
#topnav {
    display: flex;
    justify-content: flex-end;
    
    height: 60px;
    background: rgba(0, 0, 0, 0.50);
    position: fixed;
    z-index: 2000;
    width: 100%;
}
.nav-item {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 10px 0 10px;
}
.nav-item:hover {
    background-color: #6200EE
}
.nav-link {
    color: white;
    padding-top: auto;
    padding-bottom: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: auto;
}
.picture_text{
    display: flex;
    flex-direction: column;
    color:white;
    padding:30px;
    background-color: rgba(0,0,0,0.4);
}
.picture_text > img {
    height: 75%;
    width: auto;
}
#links_to_sections {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    background-color: black;
    margin-top: 10px;
}
#links_to_sections > a {
    padding: 10px;
    color:white;
}
#links_to_sections > a:hover {
    background-color: #6200EE;
}
.slide {
    /* keep centered the text*/
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    animation-name: appear_picture;
    animation-duration: 1s;
}
@font-face {
    font-family: "GloriaHallelujah-Regular";
    src: url("../fonts/GloriaHallelujah-Regular.ttf");
}
#pres {
    background-color: #6200EE;
    top:0;
}
.slide#pres h1 {
    font-family: "GloriaHallelujah-Regular", serif;
    color: white;
}
#main_picture {
    background-image: url("../res/imgs/simple_mixer.jpg");
    background-blend-mode:darken;
    background-color: rgb(20, 3, 43);
    background-size:cover;
    top:100%;
}
#web_mixer {
    top:200%;
    background-color: rgb(13, 1, 19);
    background-image: url("../res/imgs/web_mixer.png");
    background-size: auto;
    background-blend-mode:darken
}
#source_separation {
    background-color: rgb(10, 10, 10);
    background-size:cover;
    top:300%;
}
#recording {
    background-color: rgb(27, 27, 27);
    top:400%
}
#more {
    background-color: rgb(40,40,40);
    top:500%;
}
.change_slide_buttons {
    display: flex;
    justify-content: space-between;
}
.change_slide_buttons > a {
    padding: 10px;
}
.change_slide_buttons > a:hover{
    background-color: #6200EE;
    color:white;
}