/* 
   Erik Cavazos, 2021 
   erik10cavazos@gmail.com
   Styles for all /WebApp pages (used at layout)
*/
/* External fonts */
@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');

body {
    /*background-color: rgb(55,55,75);*/
    /*color:white;*/
    scroll-behavior: smooth;

    position: relative;
    overflow-x: hidden;

}

#app {
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    height: 100vh;
}

#mobile-bar-title {
    display: none;
}

.custom-nav {
    background-color: var(--isolaatti-primary-color);
    align-items: center;
}
.custom-nav-link {
    color: rgba(255,255,255,0.5);
}
.custom-nav-link:hover {
    color:white;
}
.custom-active-nav-link {
    color:white;
}
#isolaatti_brand {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    margin: 10px;
    border-radius: 10px;
    text-decoration: none;
    filter: drop-shadow(16px 16px 30px #3e0063);
}
#isolaatti_brand:before {
    content: "Is";
    font-family: 'Zen Dots', cursive;
    color: white;
    font-size: 25px;
    text-shadow: -3px 4px #11022b;
    text-decoration: none;
}
#post-editor-link {
    background-color: #8400ff;
    color: white;
    border-radius: 8px;
}

#mobile-search-button-appear, #search-bar-mobile-button-close {
    display: none;
}

#search-bar-fixed-top {
    max-width: 400px;
}

#songs-link {
    margin-right: auto;
}

#bottom-mobile-navbar {
    display: none;
}

#main-container {
    overflow: auto;

}

@media screen and (max-width: 576px) {
    .navbar-item-text {
        display: none;
    }

    #search-bar-fixed-top {
        position: absolute;
        top: -60px;
        padding: 5px;
        background-color: black;
        z-index: 10;
        transition: top;
        transition-duration: 0.5s;
        width: 100%!important;
        max-width: 100%;
    }

    #mobile-search-button-appear, #search-bar-mobile-button-close {
        display: block;
    }

    #left-bar {
        position: sticky;
        top: 0;
        background: linear-gradient(rgba(48, 9, 142, 0.9) 5%, white);
        padding-bottom: 50px;
        height: max-content !important;
    }

    #bottom-mobile-navbar {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: auto;
        width: 100%;
        height: 65px;
        background: #ffffff;
        box-shadow: 1px -4px 9px 0px rgba(212, 212, 212, 0.64);
        padding-left: 30px;
        padding-right: 30px;

    }

    #bottom-mobile-navbar a.bottom-mobile-bar-item {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        margin: 0.5em;
        padding: 5px;
    }

    .bottom-mobile-bar-item {
        font-size: 0.8em;
    }

    #top-bar-content {
        display: none !important;
    }

    #isolaatti-top-bar {
        height: 55px;
    }

    #mobile-bar-title {
        display: block;
        text-overflow-ellipsis: "...";
        overflow: hidden;
        color: white;
        font-weight: 500;
        font-size: large;
        margin-left: 20px;
    }
}

@media screen and (max-width: 370px) {
    #index-link {
        display: none;
    }
}

#contact-me-bottom-section {
    z-index: 4000;
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 8px;
    background-color: white;
    color: #385898;
    font-size: larger;
}

#search-bar {
    background-color: black;
}

@keyframes appear-search-bar {
    0% {
        margin-top: -50px;
        margin-left: 50vw;
        margin-right: 50vw;
    }
    100% {
        margin-top: 0;
        margin-left: 0;
        margin-right: 0;
    }
}

@keyframes disappear-search-bar {
    0% {
        margin-top: 0;
        margin-left: 0;
        margin-right: 0;
    }
    100% {
        margin-top: -50px;
        margin-left: 50vw;
        margin-right: 50vw;
    }
}

.share-link-text {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.profiles-list-container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

.user-profile-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid white;
    border-radius: 20px;
    margin: 10px;
    color: black!important;
    padding: 10px;
}

.profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px rgb(255, 255, 255) solid;
    display: flex;
    position: relative;
    font-size: 50px;
    justify-content: center;
    align-items: center;
    color:white;
    text-decoration: none;
    background-color: white;
}

.user-profile-card:hover{
    background-color: rgba(0,0,0,0.2);
    text-decoration: none;
}
.user-profile-card:hover .profile-pic {
    text-decoration: none;
    color: white!important;
    
}

.rounded-border-black {
    border: 1px solid black;
    border-radius: 20px;
}

.black-box-shadow {
    box-shadow: 0 0 10px rgba(48, 9, 142,0.9);
}

#simple-post-textarea, #edit-post-modal-simple-post-textarea{
    resize: vertical;
    height: 100px;
    transition: height 0.1s ease-out;
    position:relative;
}

#edit-post-modal-simple-post-textarea {
    height: 65vh!important;
}

.horizontal-panel-container {
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-wrap: nowrap;
    flex-grow: 1;
    scroll-behavior: smooth;
}

.horizontal-panel-container .panel {
    min-width: 100%;
    display: flex;
    padding: 10px;
    box-sizing: border-box;
    flex-direction: column;
}

span.user-name {
    height: min-content;
    background-color: rgba(0,0,0,0.6);
    padding: 2px;
    color:white;
}
span.user-name a{
    color:white;
    font-weight: bold;
}

.post {
    width: 100%;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 1px 1px 2px rgb(175, 175, 175);
    height: min-content;
}

.posts-deposit {
    padding-bottom: 40px;
    width: 100%;
    max-width: 640px;
}

#post-viewer {
    position: sticky;
    top: 60px;
    height: calc(100vh - 60px);
}
#left-bar {
    position:sticky;
    top: 0;
    background: linear-gradient(rgba(48, 9, 142,0.9) 5% ,white);
    padding-bottom: 50px;
    height: calc(100vh - 55px);
    overflow: auto;
}
.left-bar-g {
    position:sticky;
    top: 55px;
}

#editing-section {
    height: calc(100vh - 230px);
    width: 100%;
}

#raw-post-markdown {
    height: 100%;
    width: 100%;
}

pre, code {
    color: black;
}

#title-bar>h6 {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

footer#footer {
    position: absolute;
    padding: 15px;
    color:white;
    bottom: 0;
    width: 100%;
    margin-top: 20px;
}

footer#footer>a, footer#footer>span {
    margin-left: 8px;
    display: inline-block;
}

.flat-card-dark {
    background-color: #110a1a;
    padding: 30px;
    border-radius: 5px;
    color:white;
}

.song-item {
    width: 200px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    box-shadow: 1px 1px 2px rgb(175, 175, 175);
    border-radius: 5px;
    padding: 10px;
}

.song-item a:hover {
    text-decoration: none;
}

.song-item .song-item-icon {
    width: 100%;
    height: 110px;
    color:black;
    font-size: larger;
    display: flex;
    align-items: center;
    justify-content: center;
}
.post-content {
    overflow: auto;
}
.user-avatar {
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

#change-profile-photo-btn{
    transform: translate(25px, -25px);
}
#play-audio-description-btn {
    position: absolute;
    top: auto;
    bottom: auto;
    left: auto;
    right: auto;
    background-color: rgba(0,0,0,0);
    border: none;
    color: white;
    font-size: 30px;
}
.translucent-white-card {
    background-color: rgba(255,255,255,0.5);
    border-radius: 5px;
    padding: 10px;
}
#your-posts-deposit {
    max-width: 640px;
}

.username-profile {
    font-size: 1.7em;
    font-weight: bold;
}