/* 
   Erik Cavazos, 2021 
   erik10cavazos@gmail.com
   Styles for all /WebApp pages (used at layout)
*/
/* External fonts */
@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');

body {
    /*background-color: rgb(55,55,75);*/
    /*color:white;*/
    scroll-behavior: smooth;
    min-height: 100vh;
    position: relative;
}
.custom-nav {
    background-color: rgba(48, 9, 142,0.9);
    align-items: center;
}
.custom-nav-link {
    color: rgba(255,255,255,0.5);
}
.custom-nav-link:hover {
    color:white;
}
.custom-active-nav-link {
    color:white;
}
#isolaatti_brand {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    margin: 10px;
    border-radius: 10px;
    text-decoration: none;
    filter: drop-shadow(16px 16px 30px #3e0063);
    background: conic-gradient(from 45deg at 50% 50%, #2f0148, #000000, #2f0148, #000000 );
}
#isolaatti_brand:before {
    content: "Is";
    font-family: 'Zen Dots', cursive;
    color: white;
    font-size: 25px;
    text-shadow: -3px 4px #11022b;
    text-decoration: none;
}

#mobile-search-button-appear, #search-bar-mobile-button-close {
    display: none;
}
#search-bar-fixed-top {
    max-width: 400px;
}
#songs-link{
    margin-right: auto;
}
@media screen and (max-width: 576px) {
    .navbar-item-text {
        display: none;
    }
    #search-bar-fixed-top{
        position: absolute;
        top:-60px;
        padding: 5px;
        background-color: black;
        z-index: 10;
        transition: top;
        transition-duration: 0.5s;
        width: 100%!important;
        max-width: 100%;
    }
    #mobile-search-button-appear, #search-bar-mobile-button-close {
        display: block;
    }
}

/* Rule for vertical slider */
input[type=range][orient=vertical] {
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */
    -moz-appearance: scale-vertical;
    width: 8px;
    height: 175px;
    padding: 0 5px;
    background-color: gray;
}

/* Rule for vertical progress bar*/
progress[orient=vertical] {
    transform: rotate(-90deg);
    width: 180px;
    margin-top: 90px;
}
.track {
    min-width: 90px;
    max-width: 120px;
    border-radius: 15px;
    /*background-color: black;*/
    padding: 10px;
}
#player-top-actionbar {
    border-radius: 15px 15px 0 0;
    background-color: rgb(45,45,58);
    padding: 10px;
    color:white;
}
#master-output-controls, #tracks-container {
    background-color: rgb(45,45,45);
    color:white;
    padding: 10px;
    margin-top: 10px;
}
#tracks-deposit {
    overflow: auto;
}
#base-tracks {
    background-color: rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    border-radius: 0 0 0 15px;
}
#title-bar {
    background-color: black;
    z-index: 900;
    position: sticky;
    top:0;
    font-size: medium;
    color: white;
}

#seek-position-slider{
    max-width: 600px;
}

@font-face {
    font-family: "Press Start 2P";
    src: url("../fonts/PressStart2P-Regular.ttf");
}
#time-container {
    font-family: "Press Start 2P";
    font-size: large;
}

.track-average-gain-bar {
    max-width: 100%;
}

#contact-me-bottom-section {
    z-index: 4000;
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 8px;
    background-color: white;
    color: #385898;
    font-size: larger;
}

.track-top-actionbar {
    display: flex;
}
.edit-track-button {
    color: white;
    text-decoration: none;
}

#search-bar {
    background-color: black;
}

@keyframes appear-search-bar {
    0% {
        margin-top: -50px;
        margin-left: 50vw;
        margin-right: 50vw;
    }
    100% {
        margin-top: 0;
        margin-left: 0;
        margin-right: 0;
    }
}

@keyframes disappear-search-bar {
    0% {
        margin-top: 0;
        margin-left: 0;
        margin-right: 0;
    }
    100% {
        margin-top: -50px;
        margin-left: 50vw;
        margin-right: 50vw;
    }
}

.share-link-text {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.profiles-list-container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

.user-profile-card {
    width: 130px;
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid white;
    border-radius: 20px;
    margin: 10px;
    color: black!important;
}

.profile-pic {
    width: 70px;
    height: 70px;
    border: 1px solid white;
    border-radius: 20px;
    display: flex;
    font-size: 50px;
    justify-content: center;
    align-items: center;
    color:white;
    text-decoration: none;
    margin-top: 20px;
    background-color: black;
}

.user-profile-card:hover{
    background-color: rgba(0,0,0,0.2);
    text-decoration: none;
}
.user-profile-card:hover .profile-pic {
    text-decoration: none;
    color: white!important;
    
}

.rounded-border-black {
    border: 1px solid black;
    border-radius: 20px;
}

.black-box-shadow {
    box-shadow: 0 0 10px rgba(48, 9, 142,0.9);
}

#simple-post-textarea, #edit-post-modal-simple-post-textarea{
    resize: vertical;
    height: 100px;
    transition: height 0.1s ease-out;
    position:relative;
}

#edit-post-modal-simple-post-textarea {
    height: 65vh!important;
}

.horizontal-panel-container {
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-wrap: nowrap;
    flex-grow: 1;
    scroll-behavior: smooth;
}

.horizontal-panel-container .panel {
    min-width: 100%;
    display: flex;
    padding: 10px;
    box-sizing: border-box;
    flex-direction: column;
}

span.user-name {
    height: min-content;
}

.post {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.15);
}

#posts-deposit {
    padding-bottom: 40px;
}

#left-bar {
    position:sticky;
    top: 60px;
}

#editing-section {
    height: calc(100vh - 190px);
    width: 100%;
}

#raw-post-markdown {
    height: 100%;
    width: 100%;
}

pre, code {
    color: black;
}

#title-bar>h6 {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

footer#footer {
    position: absolute;
    padding: 15px;
    color:white;
    bottom: 0;
    width: 100%;
    margin-top: 20px;
}

footer#footer>a, footer#footer>span {
    margin-left: 8px;
    display: inline-block;
}

.flat-card-dark {
    background-color: #110a1a;
    padding: 30px;
    border-radius: 5px;
    color:white;
}

.song-item {
    width: 200px;
    border-radius: 5px;
    border: 1px solid #6200EE;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.song-item a:hover {
    text-decoration: none;
}

.song-item .song-item-icon {
    width: 100%;
    height: 110px;
    color:white;
    font-size: larger;
    display: flex;
    align-items: center;
    justify-content: center;
}
.post-content {
    overflow: auto;
}