@page
@using System.Text.Json
@model isolaatti_API.Pages.PublicContent.Feed

@{
    Layout = "Shared/_LayoutWebAppOutside";
    ViewData["Title"] = "Feed";
}
@section css
{
    <link rel="stylesheet" href="~/css/sign_style.css"/>
    <link rel="stylesheet" href="~/css/webapp_main.css"/>
}
@section Scripts
{
    <script>
        const userData = {id:-1,name:"anonymous",email:"none"};
    </script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="~/js/VueComponents/postComponent.js"></script>
    <script src="~/js/VueComponents/commentComponent.js"></script>
    <script src="~/js/PublicContentPages/feed.js"></script>
}
@section metadata
{
    <meta property="og:url"                content="https://isolaatti.com/PublicContent/Feed" />
    <meta property="og:type"               content="article" />
    <meta property="og:description"        content="Isolaatti is an audio based social network and public posting tool" />
    <meta property="og:image"              content="https://isolaatti.com/res/imgs/metadata-image-isolaatti.png" />
}
<nav class="welcome-page-navbar">
    <a asp-page="/s/Welcome">The front</a>
    <a asp-page="/s/Features">Features</a>
    <a asp-page="/About">About</a>
</nav>
<div id="vue-container" class="w-100">
    <div class="alert alert-secondary">
        <h5 class="alert-heading">You didn't sign in</h5>
        Sign in to interact. If you don't have an account, <a asp-page="/MakeAccount" class="alert-link">sign up</a>
    </div>
    <nav class="d-flex">
        <a href="#" class="m-1" v-on:click="getFeed(false)">Newest</a>
        <a href="#" class="m-1" v-on:click="getFeed(true)">Most liked</a>
    </nav>
    <post-template v-for="post in posts" :post="post"
                   v-model="postLinkToShare"
                   v-on:play-audio="playAudio(post.audioAttachedUrl)"
                   :audio-url="audioUrl"
                   :paused="paused">
    </post-template>
    <div class="modal fade" id="modal-share-post">
        <div class="modal-dialog-centered modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        Share post
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>
                        Use this link to share post
                    </p>
                    <button class="btn btn-primary" v-on:click="copyToClipboard(postLinkToShare)">Copy to clipboard</button>
                </div>
            </div>
        </div>
    </div>
</div>