@page "/Pub/Hilo"
@model isolaatti_API.Pages.PublicContent.PublicThreadViewer

@{
    Layout = "Shared/_LayoutWebAppOutside";
    ViewData["Title"] = $"Thread {ViewData["threadId"]}";
}

@section Scripts
{
    <script>
    const postId = "@ViewData["threadId"]";
    const userData = {id:-1,name:"anonymous",email:"none"};
    </script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="~/js/VueComponents/postComponent.js"></script>
    <script src="~/js/VueComponents/commentComponent.js"></script>
    <script src="~/js/publicThread.js"></script>
}

@section css
{
    <link rel="stylesheet" href="~/css/webapp_main.css"/>
    <link rel="stylesheet" href="~/stylesheets/isolaatti.css">
    <link rel="stylesheet" href="~/css/sign_style.css"/>
}

@section metadata
{
    <meta property="og:url" content="https://isolaatti.com/Pub/Hilo?id=@ViewData["threadId"]"/>
    <meta property="og:type" content="article"/>
    <meta property="og:description" content="Post @ViewData["threadId"] from @ViewData["username"] on Isolaatti. Isolaatti is an audio based social network and public posting tool"/>
    <meta property="og:image" content="https://isolaatti.com/res/imgs/metadata-image-isolaatti.png"/>
}

<nav class="welcome-page-navbar">
    <a asp-page="/s/Welcome">Bienvenido</a>
    <a asp-page="/s/Welcome" asp-fragment="features">Características</a>
    <a asp-page="/About">Acerca de</a>
</nav>

<div class="d-flex flex-column w-100" id="vue-container">
    <post-template :post="thread.post"
                   v-model="postLinkToShare"
                   v-on:play-audio="playAudio(thread.post.audioAttachedUrl)"
                   :audio-url="audioUrl"
                   :paused="paused">
    </post-template>
    <div class="d-flex flex-column ml-4 comments-container">
        <comment v-for="comment in thread.comments"
                 :comment="comment"
                 :audio-url="audioUrl"
                 :paused="paused"
                 v-on:play-audio="playAudio(comment.audioUrl)">
        </comment>
    </div>


    <div class="modal fade" id="modal-share-post">
        <div class="modal-dialog-centered modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        Compartir publicación
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>
                        Usa este enlace para compartir la publicación
                    </p>
                    <button class="btn btn-primary" v-on:click="copyToClipboard(postLinkToShare)">Copiar al portapapeles</button>
                </div>
            </div>
        </div>
    </div>
</div>