@page
@model isolaatti_API.Pages.About

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Isolaatti - About</title>
    <link rel="stylesheet" href="css/about_style.css">
</head>
<body>
<nav id="topnav">
    <div class="header">About Isolaatti</div>
</nav>
<div class="slide" id="pres">
    <h1>Record your own covers from any song you want</h1>
</div>
</body>
</html>