@page
@model isolaatti_API.Pages.GetStarted

@{
    Layout = "Shared/_LayoutWebAppOutside";
    ViewData["Title"] = "About";
}
@section css
{
    <meta proerty="og-title"
          content="About Isolaatti"/>
    <meta property="og:description"
          content="Say it louder, deeper! Your voice has more power than you think" />
    <link rel="stylesheet" href="~/stylesheets/isolaatti.css">
    <link rel="stylesheet" href="~/css/sign_style.css"/>
}
<div class="alert alert-info w-100 mt-2">
    This application is under development. Please, <a asp-page="DevSupport">support the development</a>.
</div>
<nav class="welcome-page-navbar">
    <a asp-page="/s/Welcome">The front</a>
    <a asp-page="/s/Features">Features</a>
    <a asp-page="/About">About</a>
</nav>
<h3 class="m-3 w-100 text-center">About</h3>
<div class="d-flex flex-column">
    <h5 class="ml-0">Foundation</h5>
    <p>
        Isolaatti started as a school project, which only purpose was to provide an Android GUI for demucs (music demixing). After it was successfully graded, its goals changed.
    </p>
    <h5 class="ml-0">Mission</h5>
    <p>
        To provide the world a simple tool to share your short stories via your voice and text. I believe that people's voice should be heard, no matter the appearance.
    </p>
    <h5>People behind</h5>
    <p>
        Software development is driven by the founder, Erik Cavazos. I expect to evolve to a team soon.
    </p>
    <h5>The name</h5>
    <p>
        <em>Isolaatti</em> comes from the Finnish language (one of the languages of Finland), that means somehow "isolate".
    </p>
</div>
@section Scripts
{
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
}
