@page "/acerca_de_isolaatti"
@model isolaatti_API.Pages.GetStarted

@{
    Layout = "Shared/_LayoutWebAppOutside";
    ViewData["Title"] = "Acerca de Isolaatti";
}

@section css
{
    <meta proerty="og-title" content="Acerca de Isolaatti"/>
    <link rel="stylesheet" href="~/stylesheets/isolaatti.css">
    <link rel="stylesheet" href="~/css/welcome-purple-image.css"/>
}

@section metadata
{
    <meta property="og:url" content="https://isolaatti.com/About"/>
    <meta property="og:type" content="article"/>
    <meta property="og:description" content="Isolaatti is una red social basada en publicaciones de audio y texto."/>
    <meta property="og:image" content="https://isolaatti.com/res/imgs/metadata-image-isolaatti.png"/>
}


<div class="d-flex flex-column ml-1 mr-1 col-12 align-items-center">
    <p class="display-1" style="font-family: 'Zen Dots', serif;
                                     color: #eddff6;
                                     font-size: 40px;
                                     text-shadow: -3px 4px #6529a4;
                                     text-decoration: none;
                                     filter: drop-shadow(-10px 16px 50px rgb(62, 0, 99));">
        Isolaatti
    </p>
    <h3 class="text-center mt-5" style="font-size: xxx-large">
        La plataforma social de código abierto, donde la música y la voz dominan.
    </h3>

    <h5 class="mt-5">Personas detrás del proyecto</h5>
    <p>
        El desarrollo de software es llevado por <a href="https://github.com/erik-everardo">Erik Cavazos <i class="fa-solid fa-arrow-up-right-from-square"></i></a>.
    </p>
    <h5>Código abierto</h5>
    <p>
        Este proyecto es código abierto. <a href="https://github.com/Isolaatti-Software/Isolaatti-BackendWebApp">github.com/Isolaatti-Software/Isolaatti-BackendWebApp</a>
    </p>
    <h5>El origen del nombre</h5>
    <p>
        <em>Isolaatti</em> viene del finés, que quiere decir "aislar" o "separar".
    </p>
    <h5>Detalles técnicos</h5>
    <p>Corriendo gracias a C#, ASP.NET 6, Vue.js, Bootstrap, PostgreSQL, MongoDB, Google Cloud Storage y Heroku</p>
    <hr>
    <div>
        <a href='https://play.google.com/store/apps/details?id=com.erik.isolaatti&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'>
            <img alt='Disponible en Google Play' src='https://play.google.com/intl/en_us/badges/static/images/badges/es-419_badge_web_generic.png' width="300px"/>
        </a>
    </div>
</div>

@section Scripts
{
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
}
