@page
@model isolaatti_API.Pages.ExternalAuthPage

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Verifing Account | Isolaatti</title>
</head>
<body>
<div>
    <span id="info">Verifying firebase auth</span>
</div>


<script src="https://www.gstatic.com/firebasejs/8.6.8/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.6.8/firebase-auth.js"></script>
@if (ViewData["then"] != null)
{
    <script>thenParam = "@Html.Raw(ViewData["then"])"</script>
}
<script src="~/js/googleAuthVerification.js"></script>
</body>
</html>