@page
@model isolaatti_API.Pages.ForgotPassword

@{
    Layout = "Shared/_LayoutWebAppOutside";
    ViewData["Title"] = "Forgot password";
}



@if (Model.Post)
{
    <section class="d-flex justify-content-center align-items-center flex-column" style="min-height: 100vh">
       @if (Model.EmailFound)
       {
           <h1>We've sent a link with instructions to recover your password</h1>
           <section class="d-flex">
               <a asp-page="Index" class="ml-2">Sign in</a>
           </section>
       }
       else
       {
           <h1>The email address was not found</h1>
           <section class="d-flex">
               <a asp-page="ForgotPassword" class="mr-2">Try again</a>
               <a asp-page="Index" class="ml-2">Sign in</a>
           </section>
       }
       
    </section>
    
}
else
{
    <section class="d-flex justify-content-center align-items-center flex-column" style="min-height: 100vh">
        <h1 class="mb-4">Recover your password</h1>
        <form method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control mb-2" name="email" id="email" required/>
                <button type="submit" class="btn btn-primary w-100">Continue</button>
            </div>
        </form>
    </section> 
}


