@page
@using Microsoft.Extensions.Hosting
@model isolaatti_API.Pages.Index

@{
    Layout = "Shared/_LayoutWebApp";
    ViewData["Title"] = "Home";
}
<script>document.querySelector("#index-link").classList.add("custom-active-nav-link")</script>
<div class="col-lg-3 col-md-2"></div>
<div class="col-lg-6 col-md-8">
    @* <section class="d-flex flex-column pt-1 mt-2 mb-3" id="posting-area"> *@
    @*     <div class="d-flex"> *@
    @*         <h5 class="ml-2 mt-2"><i class="fas fa-pencil-alt"></i> Quick Text Post</h5> *@
    @*         <div class="d-flex ml-auto mb-2 flex-shrink-0"> *@
    @*             <a href="#help-modal" class="btn btn-secondary" data-toggle="modal"> *@
    @*                 <i class="fas fa-question"></i> *@
    @*             </a> *@
    @*         </div> *@
    @*     </div> *@
    @*     <p class="mt-2">Use Post Editor to upload audios. Click on help button to see all it can do.</p> *@
    @*     <div class="d-flex"> *@
    @*         <select class="custom-select mb-2" id="privacy-selector"> *@
    @*             <option value="1">Private</option> *@
    @*             <option value="2">People on Isolaatti</option> *@
    @*             <option value="3">Everyone</option> *@
    @*         </select> *@
    @*         <div class="d-flex ml-1 mb-2 flex-shrink-0"> *@
    @*             <a asp-page="PostEditor" class="btn btn-secondary">Post Editor</a> *@
    @*         </div> *@
    @*     </div> *@
    @*     <textarea class="form-control w-100" id="simple-post-textarea" placeholder="Say something to your followers. Markdown is compatible" rows="1"></textarea> *@
    @*     <button type="button" class="btn btn-primary mt-1" id="post-button">Post</button> *@
    @* </section> *@
    <main class="mt-4">
        <h5 class="ml-2 mt-2"><i class="far fa-newspaper"></i> New activity</h5>
        <section id="posts-deposit" class="d-flex flex-column pt-1 mt-2 mb-3 align-items-center">
            <div v-for="post in posts" class="d-flex mb-2 flex-column p-2 post">
                <div class="d-flex justify-content-between align-items-center">
                    <span class="user-name"><a :href="'/Profile?id=' + post.userId">{{post.userName}}</a> </span>
                    <div class="dropdown dropleft">
                        <button class="btn btn-primary btn-sm" data-toggle="dropdown" aria-haspopup="true">
                            <i class="fas fa-ellipsis-h"></i>
                        </button>
                        <div class="dropdown-menu">
                            <a href="#" class="dropdown-item" v-if="post.userId===userId">Edit</a>
                            <a href="#" class="dropdown-item">Share</a>
                            <a href="#" class="dropdown-item" v-if="post.userId===userId">Delete</a>
                            <a :href=`/Reports/ReportPostOrComment?postId=${post.id}` class="dropdown-item" target="_blank">Report</a>
                        </div>
                    </div>
                </div>
                <div class="d-flex privacy-icon-container">
                    <div v-if="post.privacy === 1">
                        <i class="fas fa-user" title="Private" aria-hidden="true"></i><span class="sr-only">Only you</span>
                    </div>
                    <div v-if="post.privacy === 2">
                        <i class="fas fa-user-friends" title="People on Isolaatti" aria-hidden="true"></i><span class="sr-only">People on Isolaatti</span>
                    </div>
                    <div v-if="post.privacy === 3">
                        <i class="fas fa-globe" title="All the world" aria-hidden="true"></i><span class="sr-only">Everyone</span>
                    </div>
                </div>
                <div class="d-flex mt-1" v-if="post.audioAttachedUrl!=null">
                    <button type="button" class="btn btn-primary btn-sm" v-on:click="playAudio(post.audioAttachedUrl)">
                        <i class="fas fa-play" v-if="post.audioAttachedUrl !== audioUrl || paused"></i>
                        <i class="fas fa-pause" v-else></i>
                    </button>
                </div>
                <div class="mt-2 post-content" v-html="compileMarkdown(post.textContent)"></div>
                <div class="d-flex justify-content-end">
                    <div class="btn-group btn-group-sm">
                        <a class="btn btn-dark btn-sm" :href="`/Threads/${post.id}`">
                            <i class="fas fa-comments" aria-hidden="true"></i> {{post.numberOfComments}}
                        </a>
                        <button v-if="!post.liked" v-on:click="likePost(post)" class="btn btn-dark btn-sm" type="button">
                            <i class="fas fa-thumbs-up" aria-hidden="true"></i> {{post.numberOfLikes}}
                        </button>
                        <button v-if="post.liked" v-on:click="unLikePost(post)" class="btn btn-primary btn-sm" type="button">
                            <i class="fas fa-thumbs-up" aria-hidden="true"></i> {{post.numberOfLikes}}
                        </button>
                    </div>
                </div>
            </div>
            <div v-if="loading" class="d-flex justify-content-center mt-2">
                <div class="spinner-border" role="status">
                    <span class="sr-only">Loading more content...</span>
                </div>
            </div>
            <div v-if="noMoreContent" class="d-flex flex-column align-items-center mt-2">
                <p>You've seen all new activity for now. Refresh in a while...</p>
                <button class="btn btn-primary" v-on:click="refresh">
                    <i class="fas fa-redo"></i>
                </button>
            </div>
        </section>
    </main>
</div>
<div class="col-lg-3 col-md-2"></div>
<div class="modal fade" id="help-modal">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Help</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h5>Privacy</h5>
                    <ul>
                        <li>Private: only you can see your post.</li>
                        <li>People on Isolaatti: every user that has an account can see your post.</li>
                        <li>Everyone: your post can be seen even without an account.</li>
                    </ul>
                    <hr/>
                    <h5>Audio posts</h5>
                    <p>
                        You can record audio and attach it to your posts. The limit is 2 minutes. To record an audio,
                        use the <strong>Post Editor</strong>
                    </p>
                    <hr/>
                    <h5>Post editor</h5>
                    <p>
                        The Post Editor is the best way to write long posts (and as said above, needed to record audios).
                        There you will find some markdown helpers and a live preview of your post.
                    </p>
                    <hr/>
                    <h5><i class="fab fa-markdown"></i> What is Markdown</h5>
                    <p>Markdown is a special syntax that allows you to give format to plain text. It can be rendered to HTML, which is what is done internally.</p>
                    <h5 class="mt-2">Basics</h5>
                    <h6>Paragraphs</h6>
                    <p>Separate paragrahs by adding two break lines. Note that if you don't add a second break line, the content will be read as the same paragraph.</p>
                    <h6>Heading</h6>
                    <p>There are six heading levels (H1 to H6). Those are defined as follows:</p>
                    <code>
                        <pre>
    # This is header 1
    ## This is header 2
    ### This is header 3
    #### This is header 4
    ##### This is header 5
    ###### This is header 6
    </pre>
                    </code>
                    <p>Which will render like this</p>
                    <h1>This is header 1</h1>
                    <h2>This is header 2</h2>
                    <h3>This is header 3</h3>
                    <h4>This is header 4</h4>
                    <h5>This is header 5</h5>
                    <h6>This is header 6</h6>
                    <hr/>
                    
                    <h6>Bold and italics</h6>
                    <p>You can make text bold and/or italics. To do that use the following:</p>
                    <code><pre>
    **This is bold** *This is italics* ***This is bold and italics***
    </pre>
                    </code>
                    <p>Which will render like this:</p>
                    <p>
                        <b>This is bold</b> <i>This is italics</i> <b><i>This is bold and italics</i></b>
                    </p>
                    <hr/>
                    
                    <h6>Links</h6>
                    <p>There are three ways of defining a link.</p>
                    <p>If you will use the URL just once you can make:</p>
                    <code><pre>
    [This is a link](https://isolaatti.com/)
    </pre></code>
                    <p>That will render like this:</p>
                    <p><a href="https://isolaatti.com/">This is a link</a></p>
                    <hr/>
                    
                    <p>But, if you want to use the same URL more than once, you can declare the URL and then use it many times. Make it like so:</p>
                    <code><pre>
    Well, here is my [website]. And yes, to show it again, here is my [website]
    
    [website]: https://erik-swdev.isolaatti.com/
    </pre></code>
                    <p>Which will render like this:</p>
                    <p>
                        Well, here is my <a href="https://erik-swdev.isolaatti.com/">website</a> . And yes, to show it again, here is my <a href="https://erik-swdev.isolaatti.com/">website</a>
                    </p>
                    <hr/>
                    
                    <p>If you just want to show the URL as the text of the link, make this:</p>
                    <code><pre>
    &lt;https://erik-swdev.isolaatti.com&gt;
    </pre></code>
                    <p>Which will be rendered simply:</p>
                    <p><a href="https://erik-swdev.isolaatti.com">https://erik-swdev.isolaatti.com</a></p>
                    <hr/>
                    
                    <h5>Get more information</h5>
                    <p>This text is not exhaustive, you can make much more using Markdown, such as tables, quotes, lists. 
                        In order to get more information about how to do such and more things, we recommend you to read <a href="https://www.markdownguide.org/basic-syntax/" target="_blank">this guide</a>.
                    </p>
                </div>
            </div>
        </div>
    </div>
@section Scripts
{
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script src="~/js/main_page.js"></script>
}
