@page
@model isolaatti_API.Pages.Index

@{
    Layout = "Shared/_LayoutWebApp";
    ViewData["Title"] = "Inicio";
}

@section CSS
{
    <script>const pageTitle = "Inicio"</script>
}

<div class="col-12">
    <main class="mt-4" id="vue-container">

        <div class="d-flex align-items-center flex-column"
             id="feed-and-thread-reader-container"
             ref="feedAndThreadReaderContainer">
            <div class="sticky-sm-top">
                <h5 class="ml-2 mt-2"><i class="far fa-newspaper"></i> Actividad de las personas que sigues</h5>
            </div>
            <section id="posts-deposit" class="d-flex flex-column pt-1 mt-2 mb-3 align-items-center posts-deposit">
                <post-template v-for="post in posts" :post="post"
                               v-on:like="likePost(post)"
                               v-on:un-like="unLikePost(post)"
                               v-model="postLinkToShare"
                               v-on:delete="deletePost(post.id)"
                               v-on:play-audio="playAudio(post.audioAttachedUrl)"
                               :audio-url="audioUrl"
                               :paused="paused"
                               :is-modal="false"
                               v-on:view-thread="viewComments(post)"
                               v-bind:key="post.id">
                </post-template>
                <div v-if="loading" class="d-flex justify-content-center mt-2">
                    <div class="spinner-border" role="status">
                        <span class="sr-only">Cargando más contenido...</span>
                    </div>
                </div>
                <div v-if="noMoreContent" class="d-flex flex-column align-items-center mt-2">
                    <p>Ya viste toda la actividad por ahora, refresca en un momento...</p>
                    <button class="btn btn-primary" v-on:click="refresh">
                        <i class="fas fa-redo"></i>
                    </button>
                </div>
            </section>
        </div>

        <div class="modal fade" id="modal-share-post">
            <div class="modal-dialog-centered modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">
                            Compartir publicación
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>
                            Usa este enlace para compartir la publicación
                        </p>
                        <button class="btn btn-primary" v-on:click="copyToClipboard(postLinkToShare)">Copiar al portapapeles</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="thread-viewer">
            <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Comentarios</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <h5 v-if="commentsViewer.comments.length===0" class="m-4 text-center"><i class="fas fa-sad-tear"></i> No hay comentarios que mostrar</h5>
                        <comment v-for="comment in commentsViewer.comments"
                                 :comment="comment"
                                 :audio-url="audioUrl"
                                 :paused="paused"
                                 v-on:play-audio="playAudio(comment.audioUrl)">
                        </comment>
                    </div>
                    <div class="modal-footer">
                        <span>
                            <a :href="openThreadLink" target="_blank">Abrir publicación</a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
@* <div class="col-lg-3 col-md-4"> *@
@*     $1$ <ins class="adsbyexoclick" data-zoneid="4460778"></ins>  #1# *@
@* </div> *@
<div class="modal fade" id="help-modal">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Help</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h5>Privacidad</h5>
                <ul>
                    <li>Privado: solo tú puedes ver la publicación.</li>
                    <li>Usuarios de Isolaatti: todos los usuarios que tengan cuenta en Isolaatti pueden ver la publicación</li>
                    <li>Everyone: your post can be seen even without an account.</li>
                </ul>
                <hr/>
                <h5>Publicaciones con audio</h5>
                <p>
                    Puedes grabar un audio de hasta 2 minutos y agregarlo a tu publicación. Para grabar un audio,
                    usa el <strong>Editor pro</strong>
                </p>
                <hr/>
                <h5>Editor pro</h5>
                <p>
                    El Editor Pro es la mejor manera de escribir publicaciones largas (y cuando necesitas agregar
                    audios). En él cuentas con facilitadores de markdown y vista previa de la publicación
                </p>
                <hr/>
                <h5><i class="fab fa-markdown"></i> What is Markdown</h5>
                <p>Markdown es una sintáxis especial que permite formatear texto de menera sencilla.</p>
                <h5 class="mt-2">Básico</h5>
                <h6>Párrafos</h6>
                <p>
                    Separa cada párrafo con un salto de línea entre ellos, es decir, salta de linea dos veces al
                    terminar de escribir el párrafo.
                </p>
                <h6>Encabezados</h6>
                <p>Hay 6 niveles de encabezamiento. Son:</p>
                <code>
                    <pre>
    # Encabezado 1
    ## Encabezado 2
    ### Encabezado 3
    #### Encabezado 4
    ##### Encabezado 5
    ###### Encabezado 6
    </pre>
                </code>
                <p>Lo cual quedaría así</p>
                <h1>Encabezado 1</h1>
                <h2>Encabezado 2</h2>
                <h3>Encabezado 3</h3>
                <h4>Encabezado 4</h4>
                <h5>Encabezado 5</h5>
                <h6>Encabezado 6</h6>
                <hr/>

                <h6>Negritas e itálicas</h6>
                <p>Puedes colocar negristas y/o itálicas. Para hacerlo escribe:</p>
                <code>
                    <pre>
    **Esto está en negritas** *Esto está en itálicas* ***Esto está en negritas e itálicas***
    </pre>
                </code>
                <p>Lo cual quedaría así:</p>
                <p>
                    <b>Esto está en negritas</b> <i>Esto está en itálicas</i>
                    <b>
                        <i>Esto está en negritas e itálicas</i>
                    </b>
                </p>
                <hr/>

                <h6>Enlaces</h6>
                <p>Hay 3 maneras de definir enlaces.</p>
                <p>Si solo usarás en enlace solo una vez, puedes escribir:</p>
                <code>
                    <pre>
    [Visita Isolaatti](https://isolaatti.com/)
    </pre>
                </code>
                <p>Lo cual quedaría:</p>
                <p>
                    <a href="https://isolaatti.com/">Visita Isolaatti</a>
                </p>
                <hr/>

                <p>Pero si quieres utilizar un enlace más de una vez, puedes declararlo y utilizarlo así:</p>
                <code>
                    <pre>
    Atención, este es mi [sitio web]. Y sí, solo para confirmar, este es mi [sitio web]
    
    [sitio web]: https://erik-swdev.isolaatti.com/
    </pre>
                </code>
                <p>Lo cual quedaría así:</p>
                <p>
                    Atención, este es mi <a href="https://erik-swdev.isolaatti.com/">sitio web</a> . Y sí, solo para confirmar, este es mi <a href="https://erik-swdev.isolaatti.com/">sitio web</a>
                </p>
                <hr/>

                <p>Si solo quieres colocar el enlace tal cual, mostrando la URL completa, entonces escribe simplemente:</p>
                <code>
                    <pre>
    &lt;https://erik-swdev.isolaatti.com&gt;
    </pre>
                </code>
                <p>Lo cual quedaría simplemente:</p>
                <p>
                    <a href="https://erik-swdev.isolaatti.com">https://erik-swdev.isolaatti.com</a>
                </p>
                <hr/>

                <h5>Lee más acerca de Markdown</h5>
                <p>
                    Este texto no es todo, puedes hacer más cosas, como tablas, citas, colocar código, etc.
                    Para obtener más información, puedes leer <a href="https://www.markdownguide.org/basic-syntax/" target="_blank">esta guía</a> (sitio externo).
                </p>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script src="~/js/VueComponents/postComponent.js"></script>
    <script src="~/js/VueComponents/commentComponent.js"></script>
    <script src="~/js/main_page.js"></script>
}
