@page
@using Microsoft.Extensions.Hosting
@model isolaatti_API.Pages.Index

@{
    Layout = "Shared/_LayoutWebApp";
    ViewData["Title"] = "Home";
}
<script>document.querySelector("#index-link").classList.add("custom-active-nav-link")</script>
<div class="col-lg-3 col-md-2"></div>
<div class="col-lg-6 col-md-8">
    
    <section class="d-flex flex-column p-4 pt-1 mt-2 mb-3" id="posting-area">
        <h5 class="mb-2">Simple text posting</h5>
        <select class="custom-select mb-2" id="privacy-selector">
            <option value="1">Private</option>
            <option value="2">People on Isolaatti</option>
            <option value="3">Everyone</option>
        </select>
        <textarea class="form-control w-100" id="simple-post-textarea" placeholder="Say something to your followers" rows="1"></textarea>
        <button type="button" class="btn btn-primary mt-1" id="post-button">Post</button>
    </section>
    <h5>New activity</h5>
    <section id="posts-deposit" class="d-flex flex-column pt-1 mt-2 mb-3 align-items-center">
        <div v-for="post in posts" class="d-flex mb-2 flex-column p-2 post">
            <div class="d-flex justify-content-between align-items-center">
                <span class="user-name"><a :href="'/Profile?id=' + post.userId">{{followingIdNameMap.get(post.userId)}}</a> </span>
            </div>
            <div class="d-flex privacy-icon-container">
                <div v-if="post.privacy === 2">
                    <i class="fas fa-user-friends" title="People on Isolaatti" aria-hidden="true"></i><span class="sr-only">People on Isolaatti</span>
                </div>
                <div v-if="post.privacy === 3">
                    <i class="fas fa-globe" title="All the world" aria-hidden="true"></i><span class="sr-only">Everyone</span>
                </div>
            </div>
            <p class="mt-2 post-content">{{post.textContent}}</p>
            <div class="d-flex justify-content-end">
                <button class="btn btn-dark btn-sm" type="button">
                    <i class="fas fa-comments" aria-hidden="true"></i> {_}
                </button>
                <button v-if="!post.liked" v-on:click="likePost(post)" class="btn btn-dark btn-sm" type="button">
                    <i class="fas fa-thumbs-up" aria-hidden="true"></i> {{post.numberOfLikes}}
                </button>
                <button v-if="post.liked" v-on:click="unLikePost(post)" class="btn btn-primary btn-sm" type="button">
                    <i class="fas fa-thumbs-up" aria-hidden="true"></i> {{post.numberOfLikes}}
                </button>
            </div>
        </div>
        <div v-if="loading" class="d-flex justify-content-center mt-2">
            <div class="spinner-grow text-light" role="status">
              <span class="sr-only">Loading more content...</span>
            </div>
        </div>
        <div v-if="noMoreContent" class="d-flex flex-column align-items-center mt-2">
            <p>No more content so far</p>
            <button class="btn btn-primary" v-on:click="refresh">
                <i class="fas fa-redo"></i>
            </button>
        </div>
    </section>
</div>
<div class="col-lg-3 col-md-2"></div>

@section Scripts
{
    <script>
    let followingIdNameMap = new Map();
    for (let e of @Html.Raw(ViewData["followingJSON"])) {
        console.log(e);
        followingIdNameMap.set(e.Id,e.Name);
    }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="~/js/main_page.js"></script>
}
