@page
@model isolaatti_API.Pages.Index

@{
    Layout = "Shared/_LayoutWebApp";
    ViewData["Title"] = "Inicio";
}

@section CSS
{
    <script>const pageTitle = "Inicio"</script>
}

<div class="col-lg-9 col-md-8">
    <main class="mt-4" id="vue-container">
        <div class="d-flex align-items-center flex-column"
             id="feed-and-thread-reader-container"
             ref="feedAndThreadReaderContainer">
            <new-post class="w-100"></new-post>
            <div class="sticky-top bg-white w-100 d-flex justify-content-center pt-1 mt-3">
                <div class="btn-group">
                    <button class="btn btn-light" :disabled="currentFeed==='following'"
                            v-on:click="currentFeed='following'">
                        <i class="far fa-newspaper"></i> Actividad de las personas que sigues
                    </button>
                    <button class="btn btn-light" :disabled="currentFeed==='listen'"
                            v-on:click="currentFeed='listen'">
                        <i class="fa-solid fa-ear-listen"></i> Escucha al mundo
                    </button>
                </div>
            </div>
            <feed v-if="currentFeed==='following'"></feed>
            <last-audios v-else></last-audios>
        </div>


    </main>
</div>
<div class="col-lg-3 col-md-4">
    <div class="sticky-top" id="rightbar">

        <footer class="mt-4">
            <p class="text-center text-black-50 isolaatti-name-footer">
                Isolaatti
            </p>
            <p class="text-center font-weight-lighter">
                <a href="https://github.com/erik-everardo/Isolaatti-BackendWebApp" class="link">Código fuente</a>
                <a href="https://play.google.com/store/apps/details?id=com.erik.isolaatti" class="link">App</a>
                <a asp-page="/About" class="link">Acerca de</a>
                <a asp-page="/s/Legal/PrivacyPolicy" class="link">Política de privacidad y cookies</a>
                <a asp-page="/s/Legal/TermsOfUse" class="link">Términos de uso</a>
                <a href="https://ayuda.isolaatti.com/" class="link">Ayuda</a>
                <a href="https://blog.isolaattisoftware.com.mx/" target="_blank" class="link">Blog</a>
            </p>
            <p class="text-center text-black-50">
                hecho con <i class="fas fa-heart" style="color: red"></i> por <em>Erik Cavazos</em>, 2020 - 2022
            </p>
        </footer>
    </div>
</div>


@section Scripts
{
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script src="~/js/lib/purify.min.js"></script>
    <script src="~/js/play.js"></script>
    <script src="~/js/VueComponents/newCommentComponent.js"></script>
    <script src="~/js/VueComponents/audioAttachmentComponent.js"></script>
    <script src="~/js/VueComponents/newDiscussionComponent.js"></script>
    <script src="~/js/VueComponents/commentsViewer.js"></script>
    <script src="~/js/VueComponents/postComponent.js"></script>
    <script src="~/js/VueComponents/commentComponent.js"></script>
    <script src="~/js/VueComponents/audioRecorder.js"></script>
    <script src="~/js/VueComponents/newQuickPost.js"></script>
    <script src="~/js/VueComponents/audiosList.js"></script>
    <script src="~/js/VueComponents/lastAudiosComponent.js"></script>
    <script src="~/js/VueComponents/newsFeedComponent.js"></script>
    <script src="~/js/main_page.js"></script>
}
