@page
@model isolaatti_API.Pages.LogIn

@{
    Layout = "Shared/_LayoutWebAppOutside";
    ViewData["Title"] = "Login";
}
@section css
{
    <link rel="stylesheet" href="~/css/sign_style.css"/>
}
@section scripts_google
{
    <script>
        var firebaseConfig = {
            apiKey: "AIzaSyDZHVXLR_1imwVb2mCArnYpdbNx6XUPZBQ",
            authDomain: "isolaatti-b6641.firebaseapp.com",
            databaseURL: "https://isolaatti-b6641.firebaseio.com",
            projectId: "isolaatti-b6641",
            storageBucket: "isolaatti-b6641.appspot.com",
            messagingSenderId: "556033448926",
            appId: "1:556033448926:web:35759afc37d6a1585b1b4f",
            measurementId: "G-JQV4WX75RK"
        };
        // Initialize Firebase
        firebase.initializeApp(firebaseConfig);
                      
        var uiConfig = {
                signInSuccessUrl: 'GoogleAuth',
                signInOptions: [
                  // Leave the lines as is for the providers you want to offer your users.
                  firebase.auth.GoogleAuthProvider.PROVIDER_ID,
                ],
                // tosUrl and privacyPolicyUrl accept either url string or a callback
                // function.
                // Terms of service url/callback.
                tosUrl: '/s/Legal/TermsOfUse',
                // Privacy policy url/callback.
                privacyPolicyUrl: '/s/Legal/PrivacyPolicy'
              };
        
              // Initialize the FirebaseUI Widget using Firebase.
              var ui = new firebaseui.auth.AuthUI(firebase.auth());
              // The start method will wait until the DOM is loaded.
              ui.start('#firebaseui-auth-container', uiConfig);
        </script>
}
@section metadata
{
    <meta property="og:url"                content="https://isolaatti.com/LogIn" />
    <meta property="og:type"               content="website" />
    <meta property="og:description"        content="Sign in. Isolaatti is an audio based social network and public posting tool" />
    <meta property="og:image"              content="https://isolaatti.com/res/imgs/metadata-image-isolaatti.png" />
}
<nav class="welcome-page-navbar">
    <a asp-page="/s/Welcome">The front</a>
    <a asp-page="/s/Features">Features</a>
    <a asp-page="/About">About</a>
</nav>
@* @if (Model.NewUser) *@
@* { *@
@*     <div class="alert alert-info"> *@
@*         <h5>Welcome, before logging in the first time, verify your email</h5> *@
@*         <p>We've sent you a message with a link!</p> *@
@*     </div> *@
@* } *@
@* @if (Model.JustVerifiedEmail) *@
@* { *@
@*     <div class="alert alert-info"> *@
@*         <h5>Your email was verified succesfully</h5> *@
@*         <p>Now you can log in here or the Android application!</p> *@
@*     </div> *@
@* } *@
@if (Model.ChangedPassword)
{
    <div class="alert alert-info">
        Your password was changed successfully, please log in again with the new password.
    </div>
}

@if (Model.ExistingSession)
{
    <div class="alert alert-info">
        It seems you are signed in as <strong>@ViewData["GuessedUsername"]</strong>. Do you want to continue?<br><a asp-page="/Index">Continue</a>
    </div>
}

<div class="d-flex col-lg-7 col-md-6 flex-column">

        <div class="mt-auto p-3">
            <p>We need cookies to keep you signed in in this browser. Please, don't disable cookies.</p>
        </div>
        
    </div>
    
    <div class="col-lg-5 col-md-6 justify-content-end align-items-center">
        <form method="POST" class="sign-in-up-form" asp-antiforgery="false">
            <h4>Sign in</h4>
            <p><a asp-page="MakeAccount">Sign up</a></p>
            @if (Model.WrongCredential)
            {
                <div class="alert alert-danger">
                    You entered wrong credential
                </div>
            }
            @if (Model.NotVerifiedEmail)
            {
                <div class="alert alert-danger">
                    Please, verify your email, a verification email was sent
                </div>
            }
            <div class="form-group">
                <label for="email_form_control">Email</label>
                <input type="email" name="email" id="email_form_control" class="form-control"
                       value='@ViewData["username_field"]' required>
            </div>
            <div class="form-group">
                <label for="password_form_control">Password</label>
                <input type="password" name="password" 
                       id="password_form_control" class="form-control" required>
            </div>
            <div class="form-group">
                <a asp-page="ForgotPassword">Forgot password</a>
            </div>
            <div class="d-flex justify-content-center">
                <button class="btn btn-primary" type="submit">Sign in</button>
            </div>
        </form>
        <div id="firebaseui-auth-container"></div>
    </div>

