@page "/editor"
@model isolaatti_API.Pages.PostEditor

@{
    Layout = "Shared/_LayoutWebApp";
    ViewData["Title"] = Model.Edit ? "Modificando Discusión" : "Nueva Discusión";
}

@section CSS
{
    <script>const pageTitle = "Nueva discusión"</script>
}

<div id="vue-container" class="container-fluid p-0">
<div class="modal" id="modal-theme">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    <i class="fas fa-sliders-h"></i> Personaliza el tema
                </h5>
                <button class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <h5 class="card-title">Predefinido</h5>
                <div class="form-group">
                    <select class="custom-select custom-select-sm" v-on:input="applyDefaultTheme">
                        <option v-for="(theme, index) in defaultThemes" :value="index">{{theme.name}}</option>
                    </select>
                </div>
                <h5 class="card-title">Color de letra</h5>
                <div class="form-group">
                    <input type="color" class="form-control form-control-sm"
                           v-model="theme.fontColor">
                </div>

                <h5 class="card-title">Fondo</h5>
                <div class="form-check mb-1">
                    <input class="form-check-input" type="checkbox" id="isGradient"
                           v-model="theme.gradient" :true-value="true" :false-value="false">
                    <label class="form-check-label" for="isGradient">
                        Gradiente
                    </label>
                </div>
                <div v-if="theme.gradient">
                    <select class="custom-select" v-model="theme.background.type">
                        <option value="linear">Gradiente lineal</option>
                        <option value="radial">Gradiente radial</option>
                    </select>
                    <div v-if="theme.background.type==='linear'" class="mt-2">
                        <div class="form-group">
                            <div class="input-group input-group-sm">
                                <input type="number"
                                       v-model.number="theme.background.direction"
                                       class="form-control form-control-sm"/>
                                <div class="input-group-prepend">
                                    <span class="input-group-text">grados</span>
                                </div>
                            </div>
                            <div class="d-flex mt-2" v-for="(color,index) in theme.background.colors">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-primary" :disabled="index===0" v-on:click="switchColors(index,index-1)">
                                        <i class="fas fa-chevron-up"></i>
                                    </button>
                                    <button type="button" class="btn btn-primary" :disabled="index===theme.background.colors.length - 1" v-on:click="switchColors(index,index+1)">
                                        <i class="fas fa-chevron-down"></i>
                                    </button>
                                </div>
                                <input type="color"
                                       v-model="theme.background.colors[index]"
                                       class="form-control"/>
                                <button type="button" class="btn btn-primary btn-sm ml-1" v-on:click="removeColor(index)" v-bind:disabled="theme.background.colors.length <= 2">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>

                            <div class="d-flex w-100 justify-content-end">
                                <button class="btn btn-primary btn-sm mt-1 ml-auto" v-on:click="addColor">
                                    <i class="fas fa-plus"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div v-else class="mt-2">
                        <div class="form-group">
                            <div class="d-flex mt-2" v-for="(color,index) in theme.background.colors">
                                <input type="color"
                                       v-model="theme.background.colors[index]"
                                       class="form-control"/>
                                <button type="button" class="btn btn-primary btn-sm ml-1" v-on:click="removeColor(index)" v-bind:disabled="theme.background.colors.length <= 2">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>

                            <div class="d-flex w-100 justify-content-end">
                                <button class="btn btn-primary btn-sm mt-1 ml-auto" v-on:click="addColor">
                                    <i class="fas fa-plus"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div v-else>
                    <div class="form-group">
                        <input type="color" class="form-control form-control-sm"
                               v-model="theme.backgroundColor">
                    </div>
                </div>

                <h5 class="card-title">Borde</h5>
                <div class="form-group">
                    <label>Color</label>
                    <input type="color" class="form-control form-control-sm"
                           v-model="theme.border.color">
                </div>
                <div class="form-group">
                    <label>Tipo</label>
                    <select class="custom-select custom-select-sm"
                            v-model="theme.border.type">
                        <option value="none">Ninguno</option>
                        <option value="solid">Sólido</option>
                        <option value="dotted">Punteado</option>
                        <option value="dashed">Con guiones</option>
                        <option value="ridge">Cresta</option>
                        <option value="groove">Ranura</option>
                        <option value="inset">Recuadro hacia adentro</option>
                        <option value="outset">Recuadro hacia afuera</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Tamaño</label>
                    <div class="input-group input-group-sm">
                        <input type="number" class="form-control form-control-sm"
                               v-model.number="theme.border.size"/>
                        <div class="input-group-prepend">
                            <span class="input-group-text">px</span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Radio (valor máximo recomendado 30px)</label>
                    <div class="input-group input-group-sm">
                        <input type="number" class="form-control form-control-sm"
                               max="30" min="0"
                               v-model.number="theme.border.radius">
                        <div class="input-group-prepend">
                            <span class="input-group-text">px</span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="modal-privacy">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content ">
            <div class="modal-header">
                <h5 class="modal-title">Privacidad</h5>
                <button class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <select class="custom-select w-100 custom-select-sm" v-model="post.privacy" title="Select privacy">
                    <option :value="1">Privado</option>
                    <option :value="2">Usuarios de Isolaatti</option>
                    <option :value="3">Todos</option>
                </select>
            </div>
        </div>
    </div>
</div>

<header class="col-12 sticky-top" style="background-color: rgba(255,255,255,0.7)">
    <div class="d-flex justify-content-between align-items-center">
        <button class="btn btn-secondary btn-sm" title="Ayuda"
                data-target="#help-modal" data-toggle="modal">
            <i class="fas fa-question"></i>
        </button>
        @if (Model.Edit)
        {
            <h5 class="m-3"><i class="fas fa-edit"></i> Modificar discusión</h5>
        }
        else
        {
            <h5 class="m-3"><i class="fas fa-edit"></i> Nueva discusión</h5>
        }
        @if (Model.Edit)
        {
            <button class="btn btn-light" v-on:click="makePost" v-bind:disabled="post.content===''">
                <i class="fas fa-upload"></i> Guardar
            </button>
        }
        else
        {
            <button class="btn btn-light" v-on:click="makePost" v-bind:disabled="post.content===''">
                <i class="fas fa-upload"></i> Publicar
            </button>
        }
    </div>
</header>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="card h-100">
                <div class="card-header d-flex">
                    <h5 class="modal-title">Contenido</h5>
                    <div class="d-flex ml-auto">
                        <button type="button" class="btn btn-light btn-sm" data-target="#modal-theme" data-toggle="modal">
                            <i class="fa-solid fa-palette"></i>
                        </button>
                        <button type="button" class="btn btn-light btn-sm" data-target="#modal-privacy" data-toggle="modal">
                            <i class="fas fa-user" v-if="post.privacy === 1" title="Private" aria-hidden="true"></i>
                            <i class="fas fa-user-friends" v-if="post.privacy === 2" title="People on Isolaatti" aria-hidden="true"></i>
                            <i class="fas fa-globe" v-if="post.privacy === 3" title="All the world" aria-hidden="true"></i>
                        </button>
                        <button type="button" class="btn btn-light btn-sm" v-on:click="requestMicrophone()" data-target="#add-audio-modal" data-toggle="modal">
                            <i class="fas fa-microphone"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <section class="ml-2 mr-2 w-100 h-100">
                        <textarea class="form-control h-100" v-model="post.content" ref="markdownTextarea" v-bind:selection-start.prop="selectionStart" v-bind:selection-end.prop="selectionEnd" placeholder="Escribe aqui el contenido para iniciar la discusión. Markdown es compatible."></textarea>
                    </section>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card">
                <h5 class="card-header"><i class="fas fa-vote-yea"></i> Vista previa</h5>
                <div class="card-body">
                    <post-template
                        v-bind:post="post"
                        v-bind:theme="theme"
                        v-bind:key="post.id"
                        v-bind:audio-url="post.audioUrl"
                        v-bind:preview="true"
                        v-bind:paused="true">
                    </post-template>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="add-audio-modal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><i class="fas fa-microphone"></i> Añade audio</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times</span>
                </button>
            </div>
            <div class="modal-body d-flex flex-column">
                <div class="progress">
                    <div class="progress-bar progress-bar-striped" role="progressbar" :style="progressStyle" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <span>{{clockFormatTime}} / 2:00</span>
            </div>
            <div class="modal-footer d-flex flex-column">
                <div class="d-flex">
                    @* This group shows to allow user to start recording *@
                    <div class="btn-group" v-if="!audio.recording && !audio.recorded">
                        <button class="btn btn-danger" v-on:click="startRecording()" v-bind:disabled="audio.recorder.mediaStream == null">
                            Comenzar a grabar
                        </button>
                    </div>

                    @* This group is shown when an audio is being recorded*@
                    <div class="btn btn-group" v-if="audio.recording">
                        <button class="btn btn-primary" v-on:click="stopRecording()">
                            Detener
                        </button>
                    </div>

                    @* This group shows when an audio has been recorded *@
                    <div class="btn-group" v-if="audio.recorded">
                        <button class="btn btn-info" v-on:click="playRecord()">
                            <i class="fas fa-play"></i>
                        </button>
                        <button class="btn btn-dark" v-on:click="resetRecording()">
                            Descartar
                        </button>
                        <button class="btn btn-primary" v-on:click="consolidate()">
                            Continuar
                        </button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="help-modal">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Ayuda</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h5>Privacidad</h5>
                <ul>
                    <li>Privado: solo tú puedes ver la publicación.</li>
                    <li>Usuarios de Isolaatti: todos los usuarios que tengan cuenta en Isolaatti pueden ver la publicación</li>
                    <li>Todos: todos pueden leer la publicación, incluso sin iniciar sesión.</li>
                </ul>
                <hr/>
                <h5>Publicaciones con audio</h5>
                <p>
                    Puedes grabar un audio de hasta 2 minutos y agregarlo a tu publicación. Para grabar un audio,
                    usa el <strong>Editor Pro</strong>
                </p>
                <hr/>
                <h5>Editor pro</h5>
                <p>
                    El Editor Pro es la mejor manera de escribir publicaciones largas (y cuando necesitas agregar
                    audios). En él cuentas con facilitadores de markdown y vista previa de la publicación
                </p>
                <hr/>
                <h5><i class="fab fa-markdown"></i> What is Markdown</h5>
                <p>Markdown es una sintáxis especial que permite formatear texto de menera sencilla.</p>
                <h5 class="mt-2">Básico</h5>
                <h6>Párrafos</h6>
                <p>
                    Separa cada párrafo con un salto de línea entre ellos, es decir, salta de linea dos veces al
                    terminar de escribir el párrafo.
                </p>
                <h6>Encabezados</h6>
                <p>Hay 6 niveles de encabezamiento. Son:</p>
                <code>
                    <pre>
    # Encabezado 1
    ## Encabezado 2
    ### Encabezado 3
    #### Encabezado 4
    ##### Encabezado 5
    ###### Encabezado 6
    </pre>
                </code>
                <p>Lo cual quedaría así</p>
                <h1>Encabezado 1</h1>
                <h2>Encabezado 2</h2>
                <h3>Encabezado 3</h3>
                <h4>Encabezado 4</h4>
                <h5>Encabezado 5</h5>
                <h6>Encabezado 6</h6>
                <hr/>

                <h6>Negritas e itálicas</h6>
                <p>Puedes colocar negristas y/o itálicas. Para hacerlo escribe:</p>
                <code>
                    <pre>
    **Esto está en negritas** *Esto está en itálicas* ***Esto está en negritas e itálicas***
    </pre>
                </code>
                <p>Lo cual quedaría así:</p>
                <p>
                    <b>Esto está en negritas</b> <i>Esto está en itálicas</i>
                    <b>
                        <i>Esto está en negritas e itálicas</i>
                    </b>
                </p>
                <hr/>

                <h6>Enlaces</h6>
                <p>Hay 3 maneras de definir enlaces.</p>
                <p>Si solo usarás en enlace solo una vez, puedes escribir:</p>
                <code>
                    <pre>
    [Visita Isolaatti](https://isolaatti.com/)
    </pre>
                </code>
                <p>Lo cual quedaría:</p>
                <p>
                    <a href="https://isolaatti.com/">Visita Isolaatti</a>
                </p>
                <hr/>

                <p>Pero si quieres utilizar un enlace más de una vez, puedes declararlo y utilizarlo así:</p>
                <code>
                    <pre>
    Atención, este es mi [sitio web]. Y sí, solo para confirmar, este es mi [sitio web]
    
    [sitio web]: https://erik-swdev.isolaatti.com/
    </pre>
                </code>
                <p>Lo cual quedaría así:</p>
                <p>
                    Atención, este es mi <a href="https://erik-swdev.isolaatti.com/">sitio web</a> . Y sí, solo para confirmar, este es mi <a href="https://erik-swdev.isolaatti.com/">sitio web</a>
                </p>
                <hr/>

                <p>Si solo quieres colocar el enlace tal cual, mostrando la URL completa, entonces escribe simplemente:</p>
                <code>
                    <pre>
    &lt;https://erik-swdev.isolaatti.com&gt;
    </pre>
                </code>
                <p>Lo cual quedaría simplemente:</p>
                <p>
                    <a href="https://erik-swdev.isolaatti.com">https://erik-swdev.isolaatti.com</a>
                </p>
                <hr/>

                <h5>Lee más acerca de Markdown</h5>
                <p>
                    Este texto no es todo, puedes hacer más cosas, como tablas, citas, colocar código, etc.
                    Para obtener más información, puedes leer <a href="https://www.markdownguide.org/basic-syntax/" target="_blank">esta guía</a> (sitio externo).
                </p>
            </div>
        </div>
    </div>
</div>

</div>


@section Scripts
{
    <script>
            const editExistingPost = "@Model.Edit" === "True";
            const editPostId = @Model.EditPostId;
    </script>
    <script src="https://www.gstatic.com/firebasejs/7.23.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.23.0/firebase-storage.js"></script>
    <script>
    var firebaseConfig = {
        apiKey: "AIzaSyDZHVXLR_1imwVb2mCArnYpdbNx6XUPZBQ",
        authDomain: "isolaatti-b6641.firebaseapp.com",
        databaseURL: "https://isolaatti-b6641.firebaseio.com",
        projectId: "isolaatti-b6641",
        storageBucket: "isolaatti-b6641.appspot.com",
        messagingSenderId: "556033448926",
        appId: "1:556033448926:web:35759afc37d6a1585b1b4f",
        measurementId: "G-JQV4WX75RK"
    };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
    var storage = firebase.storage();
    </script>
    <script src="~/js/lib/purify.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script src="~/js/VueComponents/postComponent.js"></script>
    <script src="~/js/PostEditor.js"></script>
}