@page "/pub/{id}"
@model isolaatti_API.Pages.Threads

@{
    Layout = "Shared/_LayoutWebApp";
    ViewData["Title"] = "Discusi贸n";
}

@section CSS
{
    <link href="~/css/threads.css" rel="stylesheet">
    <script>const pageTitle = "Discusi贸n"</script>

    <style>
    @@media screen and (min-width: 768px)  {
    .post-container {
                position: sticky; 
                top: 0.5rem; 
                height: calc(100vh - 55px - 0.5rem);
                overflow: auto;
        }
    }
    </style>
}

@section Scripts
{
    <script src="https://www.gstatic.com/firebasejs/7.23.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.23.0/firebase-storage.js"></script>
    <script>
    var firebaseConfig = {
        apiKey: "AIzaSyDZHVXLR_1imwVb2mCArnYpdbNx6XUPZBQ",
        authDomain: "isolaatti-b6641.firebaseapp.com",
        databaseURL: "https://isolaatti-b6641.firebaseio.com",
        projectId: "isolaatti-b6641",
        storageBucket: "isolaatti-b6641.appspot.com",
        messagingSenderId: "556033448926",
        appId: "1:556033448926:web:35759afc37d6a1585b1b4f",
        measurementId: "G-JQV4WX75RK"
    };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
    var storage = firebase.storage();
    </script>
    <script src="~/js/lib/purify.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script>const threadToReadId = @Model.ThisPost.Id;</script>
    <script src="~/js/VueComponents/audiosList.js"></script>
    <script src="~/js/VueComponents/newCommentComponent.js"></script>
    <script src="~/js/VueComponents/newQuickPost.js"></script>
    <script src="~/js/VueComponents/newDiscussionComponent.js"></script>
    <script src="~/js/VueComponents/commentsViewer.js"></script>
    <script src="~/js/VueComponents/postComponent.js"></script>
    <script src="~/js/VueComponents/commentComponent.js"></script>
    <script src="~/js/VueComponents/audioRecorder.js"></script>
    <script src="~/js/threads.js"></script>
}

<div id="vue-container" class="mt-2 w-100">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 post-container">
                <post-template v-if="post!==undefined"
                               :post="post.postData"
                               :theme="post.theme"
                               :key="threadId"
                               :is-full-page="true">
                </post-template>

            </div>
            <div class="col-md-6">
                <div class="d-flex flex-column ml-4 comments-container">
                    <comments-viewer :post-id="threadId" :just-added-comments="comments" :is-under-post="false"></comments-viewer>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal-share-post">
        <div class="modal-dialog-centered modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        Compartir publicaci贸n
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>
                        Usa este enlace para compartir la publicaci贸n
                    </p>
                    <button class="btn btn-primary" v-on:click="copyToClipboard(postLinkToShare)">Copiar al portapapeles</button>
                </div>
            </div>
        </div>
    </div>

</div>