@page "/perfil/{id}"
@model Isolaatti.Pages.Profile

@{
    Layout = "Shared/_LayoutWebApp";
    ViewData["Title"] = ViewData["profile_name"];
}

@if ((bool)ViewData["no-redirect"])
{
    <div class="alert alert-info">Te encuentras viendo tu perfil como se ve desde afuera</div>
}

<profile :user-id="@ViewData["profile_id"]"></profile>

@section Scripts
{

    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script src="~/js/lib/purify.min.js"></script>
    <script src="~/js/VueComponents/newCommentComponent.js"></script>
    <script src="~/js/VueComponents/commentsViewer.js"></script>
    <script src="~/js/VueComponents/postComponent.js"></script>
    <script src="~/js/VueComponents/commentComponent.js"></script>
    <script src="~/js/VueComponents/postsList.js"></script>
    <script src="~/js/VueComponents/audiosList.js"></script>
    <script src="~/js/VueComponents/profileImagesComponent.js"></script>
    <script src="~/js/VueComponents/usersGridComponent.js"></script>
    <script src="~/js/VueComponents/profileUserInfoComponent.js"></script>
    <script src="~/js/VueComponents/page/profileComponent.js"></script>
}
