@page
@model isolaatti_API.Pages.RecoverPassword

@{
    Layout = "Shared/_LayoutWebAppOutside";
    ViewData["Title"] = "Recuperaci칩n de contrase침a ";
}


<div class="col-12">
    <section class="d-flex justify-content-center align-items-center w-100 mt-5">
        <form method="post">
            <div class="form-group">
                <label for="password">Crea una nueva contrase침a</label>
                <input type="password" id="password" class="form-control" autocomplete="off" name="newPassword"/>
                <input type="checkbox" id="toggle_password_visibility" class="mt-1"/>
                <label for="toggle_password_visibility">Mostrar contrase침a</label>
                <button type="submit" class="btn btn-primary w-100 mt-2">Guardar</button>
            </div>
            <input type="hidden" name="id" value="@ViewData["id"]">
            <input type="hidden" name="tokenStr" value="@ViewData["token"]">
        </form>
    </section>
</div>

@section css
{
    <link rel="stylesheet" href="~/css/sign_style.css"/>
}

@section Scripts
{
    <script>
        let togglePasswordVisibility = document.getElementById("toggle_password_visibility");
        let passwordField = document.getElementById("password");
        togglePasswordVisibility.onclick = function() {
            if(togglePasswordVisibility.checked){
                passwordField.type = "text";
            } else {
                passwordField.type = "password";
            }
        }
    </script>
}