@page
@model isolaatti_API.Pages.RecoverPassword

@{
    Layout = "Shared/_LayoutWebAppOutside";
    ViewData["Title"] = "Recover password";
}
@if (Model.TokenExists && !Model.ExpiredToken)
{
    <section class="d-flex justify-content-center align-items-center" style="min-height: 100vh">
        <form method="post">
            <div class="form-group">
                <label for="password">New password</label>
                <input type="password" id="password" class="form-control" autocomplete="off" name="newPassword"/>
                <input type="checkbox" id="toggle_password_visibility" class="mt-1"/>
                <label for="toggle_password_visibility">Show password</label>
                <button type="submit" class="btn btn-primary w-100 mt-2">Confirm</button>
            </div>
            <input type="hidden" name="token_s" value="@ViewData["token"]">
        </form>
    </section>
}
else
{
    <section class="d-flex justify-content-center align-items-center" style="min-height: 100vh">
        <h1>Invalid link</h1>
    </section>
}
@section css
{
    <link rel="stylesheet" href="~/css/sign_style.css"/>
}
@section Scripts
{
    <script>
        let togglePasswordVisibility = document.getElementById("toggle_password_visibility");
        let passwordField = document.getElementById("password");
        togglePasswordVisibility.onclick = function() {
            if(togglePasswordVisibility.checked){
                passwordField.type = "text";
            } else {
                passwordField.type = "password";
            }
        }
    </script>
}