@page "/ajustes/sesiones_recordadas"
@model isolaatti_API.Pages.Sessions

@{
    Layout = "Shared/_LayoutWebApp";
}
<div class="col-2"></div>
<div class="col-8">
    <h5 class="mt-3 text-center"><i class="fas fa-cog"></i> Ajustes</h5>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a asp-page="/Settings">Ajustes</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Sesiones guardadas</li>
        </ol>
    </nav>
    <p>Estas son los dispositivos y navegadores donde has guardado la sesión.</p>
    <div class="d-flex mb-3">
        <a class="btn btn-primary" asp-controller="WebLogOut" asp-action="Index">Cerrar sesión</a>
        <a class="btn btn-primary ml-2" asp-controller="WebLogOut" asp-action="CloseAllSessions">Cerrar todas las sesiones</a>
    </div>
    <div class="list-group">
        @foreach (var sessionToken in Model.SessionTokens)
        {
            <div class="list-group-item">
                @if (ViewData["curentSessionToken"].Equals(sessionToken.Token))
                {
                    <i class="fas fa-check"></i>
                }
                <h6>@sessionToken.IpAddress</h6>
                <h6>@sessionToken.Date</h6>
                <small>@sessionToken.UserAgent</small>
            </div>
        }
    </div>
    <p class="mt-3">Otros vínculos: <a asp-page="/ChangePassword">Cambia tu contraseña</a></p>
</div>
<div class="col-2"></div>