@page "/ajustes"
@model isolaatti_API.Pages.Settings

@{
    Layout = "Shared/_LayoutWebApp";
    ViewData["Title"] = "Ajustes";
}

@section CSS
{
    <script>const pageTitle = "Ajustes"</script>
    <style>
        .settings-section {
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            padding: 1.2em;
            margin-bottom: 1em;
            border-radius: 10px;
        }
    </style>
}

<div class="col-lg-3 col-md-2"></div>
<div class="col-lg-6 col-md-8">
    <h5 class="mt-3 text-center"><i class="fas fa-cog"></i> Ajustes</h5>

    <div class="settings-section">
        <h6 class="mt-3">Tu contraseña</h6>
        <p>
            <a asp-page="/ChangePassword">Cambia tu contraseña</a>
        </p>
    </div>

    <div class="settings-section">
        <h6 class="mt-3">Privacidad</h6>
        <p>
            <a asp-page="/PrivacySettings">Configura la privacidad</a>
        </p>
    </div>
    <div class="settings-section">
        <h6 class="mt-3">Tus datos</h6>
        <p>
            <a asp-page="/UserData">Consulta y descarga tus datos</a>
        </p>
    </div>

    <div class="settings-section">
        <h6 class="mt-3">Tus sesiones activas</h6>
        <div class="d-flex flex-column">
            <a asp-page="/Sessions">Consulta dónde mantienes una sesión iniciada</a>
            <a asp-controller="WebLogOut" asp-action="Index">Cerrar esta sesión</a>
            <a asp-controller="WebLogOut" asp-action="CloseAllSessions">Cerrar todas las sesiones</a>
        </div>
    </div>

    <div class="settings-section">
        <h6 class="mt-3">Feed</h6>
        <p>
            <a asp-page="/SettingsPages/FeedSettingsContent">Gestiona el contenido de tu feed</a>
        </p>
    </div>
</div>
<div class="col-lg-3 col-md-2"></div>