@page "/Ajustes"
@model isolaatti_API.Pages.Settings

@{
    Layout = "Shared/_LayoutWebApp";
    ViewData["Title"] = "Settings";
}

@section CSS
{
    <script>const pageTitle = "Ajustes"</script>
}

<div class="col-lg-3 col-md-2"></div>
<div class="col-lg-6 col-md-8">
    <h1>Ajustes</h1>
    <h3 class="mt-1">Tu contrase침a</h3>
    <p>
        <a asp-page="MyProfile" asp-route-open="password">Ir al perfil para cambiar tu contrase침a</a>
    </p>

    <h3 class="mt-1">Tus sesiones activas</h3>
    <p>Actualmente tienes estas sesiones activas</p>
    <table class="table table-hover table-responsive-md bg-dark text-white">
        <thead>
        <th></th>
        <th>Actual</th>
        <th>Direcci칩n IP</th>
        <th>User Agent</th>
        <th>Fecha de creaci칩n</th>
        </thead>
        <tbody>
        @foreach (var sessionToken in Model.SessionTokens)
        {
            <tr>
                <td>
                    <input type="checkbox" name="">
                </td>
                <td>
                    @if (ViewData["curentSessionToken"].Equals(sessionToken.Token))
                    {
                        <i class="fas fa-check"></i>
                    }

                </td>
                <td>@sessionToken.IpAddress</td>
                <td>@sessionToken.UserAgent</td>
                <td>@sessionToken.Date</td>
            </tr>
        }
        </tbody>

    </table>
</div>
<div class="col-lg-3 col-md-2"></div>

@section Scripts
{
    <script src="~/js/settings.js"></script>
}