@page "/squads"
@model Isolaatti.Pages.Squads

@{
    Layout = "Shared/_LayoutWebApp";
    ViewData["Title"] = "Squads";
}
<div class="col-xl-2 col-lg-3 col-md-4 p-0" id="vue-container-for-left-bar">

    <aside id="left-bar" class="p-2">
        <h5 class="m-3">
            <i class="fas fa-users"></i><span class="ml-1">Squads</span>
        </h5>

        <div class="d-flex flex-column mt-2">
            <a asp-page="/CreateSquad" class="btn btn-primary">Nuevo squad</a>
            <div class="d-flex">
                <a asp-page="/Squads" class="mt-1 ml-2">Mis squads</a>
                <a href="#" class="mt-1 ml-2">Solicitudes</a>
            </div>
            <hr/>
            <a href="#" class="btn btn-secondary">Explora</a>
            <a href="#" class="mt-1 ml-2">Invitaciones</a>
        </div>

    </aside>
</div>
<div class="col-xl-8 col-lg-7 col-md-6">
    <div class="d-flex justify-content-center">
        <p>Aqui mostrar el contenido</p>
    </div>
</div>