@page "/squads/{squadId:guid}/gestion_miembros/miembros"
@model Isolaatti.Pages.SquadsPages.ManageSquadMembers

@{
    Layout = "Shared/_LayoutSquadMembersManager";
    ViewData["Title"] = "Administración de miembros";
    ViewData["PageName"] = "members";
}

<div class="col-12">
    <p>Miembros...</p>
    <p>Todo esto hacerlo con Vue</p>
</div>