@page "/squads/{squadId:guid}/gestion_miembros/propietario"
@model Isolaatti.Pages.SquadsPages.ManageSquadOwner

@{
    Layout = "Shared/_LayoutSquadMembersManager";
    ViewData["Title"] = "Propietario de Squad";
    ViewData["PageName"] = "owner";
}

<div class="col-lg-4 col-md-5">
    <h5>Propietario actual</h5>
    <users-grid :users="[{name:'@Model.Owner.Name', imageId: '@Model.Owner.ImageId', id: @Model.Owner.Id}]"/>
    
</div>
<div class="col-lg-8 col-md-7">
  @if (Model.Owner.Id == Model.User.Id)
  {
    <h5>Cambio de propietario</h5>
    <p>Al dejar de ser propietario te convertirás en miembro normal.</p>
    <button class="btn btn-primary btn-sm" data-target="#modal-choose-owner" data-toggle="modal">Elegir</button>
  }
  
</div>

<div class="modal" id="modal-choose-owner">
  <div class="modal-dialog modal-dialog-scrollable modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Elegir nuevo propietario</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          &times;
        </button>
      </div>
      <div class="modal-body">
        <change-squad-owner-modal-dialog squad-id="@Model.Squad.Id"/>
      </div>
    </div>
  </div>
</div>