/* Erik Cavazos, 2020*/
body {
    background-color: rgb(55,55,75);
    color:white;
}
.custom-nav {
    background-color: #6200EE;
}
.custom-nav-link {
    color:white;
}
.custom-nav-link:hover {
    color: white;
    background-color: black;
}
.custom-active-nav-link {
    text-decoration: underline;
}
#isolaatti_brand{
    padding:0.5rem;
    color: white;
    font-family: "Lohit Tamil Classical", serif;
}
@media screen and (max-width: 576px){
    #isolaatti_brand{
        padding:0.5rem;
        color: white;
        font-family: "Lohit Tamil Classical", serif;
        width: 100%;
        text-align: center;
    }
    .navbar-item-text{
        display: none;
    }
}

/* Player styles*/
input[type=range][orient=vertical]
{
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */
    width: 8px;
    height: 175px;
    padding: 0 5px;
}
.track {
    min-width: 90px;
    border-radius: 15px;
    background-color: black;
    padding: 10px;
}
#player-top-actionbar {
    border-radius: 15px;
    background-color: rgb(45,45,45);
    padding: 10px;
    color:white;
}
#tracks-container{
    background-color: rgb(45,45,45);
    color:white;
    border-radius: 15px;
    padding: 10px;
    overflow: auto;
}