/* Erik Cavazos, 2020*/
.custom-nav {
    background-color: #6200EE;
}
.custom-nav-link {
    color:white;
}
.custom-nav-link:hover {
    color: white;
    background-color: black;
}
.custom-active-nav-link {
    text-decoration: underline;
}
#isolaatti_brand{
    padding:0.5rem;
    color: white;
    font-family: "Lohit Tamil Classical", serif;
}