/* 
   Erik Cavazos, 2021 
   erik10cavazos@gmail.com
   Styles for informative page
*/

article{
    margin-top: 60px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
#history {
    max-width: 500px;
}
#image-microphone {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-image: url("/res/imgs/pexels-freestocksorg-64057.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
#image-audio-book{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-image: url("../res/imgs/pexels-karolina-grabowska-4476138.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#image-keys {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-image: url("../res/imgs/pexels-stas-knop-1153896.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
#image-demix {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-image: url("../res/imgs/pexels-ann-h-2573957.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}