/*!
 * Isolaatti stylesheet
 * Copyright 2020-2022 Erik Cavazos
 * Copyright 2022 Isolaatti Software
 */

@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');

body {
  scroll-behavior: smooth;
  position: relative;
  overflow-x: hidden;
}

#app {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

#mobile-bar-title {
  display: none;
}

.custom-nav {
  background-color: var(--primary);
  align-items: center;
  z-index: 1050;
  margin-top: 1em;
  border-radius: 30px;
  padding: 0.2rem 0.5rem;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;

}

.custom-nav-link {
  color: rgba(255, 255, 255, 0.5);
}

.custom-nav-link:hover {
  color: white;
}

.custom-active-nav-link {
  color: white;
}

#isolaatti_brand {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  margin: 10px;
  border-radius: 10px;
  text-decoration: none;
  filter: drop-shadow(16px 16px 30px #3e0063);
}

#isolaatti_brand:before {
  content: "Is";
  font-family: 'Zen Dots', cursive;
  color: white;
  font-size: 25px;
  text-shadow: -3px 4px #11022b;
  text-decoration: none;
}

#post-editor-link {
  background-color: #8400ff;
  color: white;
  border-radius: 8px;
}

#mobile-search-button-appear, #search-bar-mobile-button-close {
  display: none;
}

#search-bar-fixed-top {
  max-width: 400px;
}

.search-bar-on-top {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 0.5rem;
  border: none;
}

.search-bar-on-top:focus {
  background-color: white;
  border: none;
}

button.isolaatti-btn:hover {
  color: white;
}

.max-640 {
  max-width: 640px;
}


#bottom-mobile-navbar {
  display: none;
}

#main-container {
  overflow: auto;
}

.mobile-only {
  display: none;
}

@media screen and (max-width: 576px) {
  .navbar-item-text {
    display: none;
  }

  #search-bar-fixed-top {
    position: absolute;
    top: -60px;
    padding: 5px;
    background-color: black;
    z-index: 10;
    transition: top;
    transition-duration: 0.5s;
    width: 100% !important;
    max-width: 100%;
  }

  #mobile-search-button-appear, #search-bar-mobile-button-close {
    display: block;
  }

  #left-bar {
    position: sticky;
    top: 0;
    background: white;

    padding-bottom: 50px;
    height: max-content !important;
  }


  #isolaatti-top-bar {
    height: 55px;
  }

  #mobile-bar-title {
    display: block;
    text-overflow-ellipsis: "...";
    overflow: hidden;
    color: white;
    font-weight: 500;
    font-size: large;
    margin-left: 20px;
  }

  .desktop-only {
    display: none;
  }
  
  .mobile-only {
    display: block;
  }
}

@media screen and (max-width: 370px) {
  #index-link {
    display: none;
  }
}

#contact-me-bottom-section {
  z-index: 4000;
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 8px;
  background-color: white;
  color: #385898;
  font-size: larger;
}

#search-bar {
  background-color: black;
}





.text-ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.profiles-list-container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

.user-profile-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid white;
  border-radius: 20px;
  margin: 10px;
  color: black !important;
  padding: 15px;
  cursor: pointer;
}

.profile-pic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 5px rgb(255, 255, 255) solid;
  display: flex;
  position: relative;
  font-size: 50px;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: none;
  background-color: white;
}

.user-profile-card:hover {
  background-color: rgba(0, 0, 0, 0.2);
  text-decoration: none;
}

.user-profile-card:hover .profile-pic {
  text-decoration: none;
  color: white !important;

}

.rounded-border-black {
  border: 1px solid black;
  border-radius: 20px;
}

.black-box-shadow {
  box-shadow: 0 0 10px rgba(48, 9, 142, 0.9);
}

#simple-post-textarea, #edit-post-modal-simple-post-textarea {
  resize: vertical;
  height: 100px;
  transition: height 0.1s ease-out;
  position: relative;
}

#edit-post-modal-simple-post-textarea {
  height: 65vh !important;
}

.horizontal-panel-container {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-wrap: nowrap;
  flex-grow: 1;
  scroll-behavior: smooth;
}

.horizontal-panel-container .panel {
  min-width: 100%;
  display: flex;
  padding: 10px;
  box-sizing: border-box;
  flex-direction: column;
}

span.user-name {
  height: min-content;
  padding: 2px;
  color: black;
}

span.user-name a {
  color: black;
  font-weight: bold;
}

.post {
  width: 100%;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  box-shadow: rgba(225, 225, 225, 0.2) 0px 48px 100px 0px;
  height: min-content;

}

.post-content:hover {
  background-color: #f8f9fa;
}

.posts-deposit {
  padding-bottom: 40px;
  width: 100%;
  max-width: 640px;
}

#post-viewer {
  position: sticky;
  top: 60px;
  height: calc(100vh - 60px);
}

.left-bar-g {
  position: sticky;
  top: 55px;
}

#editing-section {
  height: calc(100vh - 230px);
  width: 100%;
}

#raw-post-markdown {
  height: 100%;
  width: 100%;
}

pre, code {
  color: black;
}

#title-bar > h6 {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

footer#footer {
  position: absolute;
  padding: 15px;
  color: white;
  bottom: 0;
  width: 100%;
  margin-top: 20px;
}

footer#footer > a, footer#footer > span {
  margin-left: 8px;
  display: inline-block;
}

.flat-card-dark {
  background-color: #110a1a;
  padding: 30px;
  border-radius: 5px;
  color: white;
}

.song-item {
  width: 200px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  box-shadow: 1px 1px 2px rgb(175, 175, 175);
  border-radius: 5px;
  padding: 10px;
}

.song-item a:hover {
  text-decoration: none;
}

.song-item .song-item-icon {
  width: 100%;
  height: 110px;
  color: black;
  font-size: larger;
  display: flex;
  align-items: center;
  justify-content: center;
}

.post-content {
  overflow: hidden;
  cursor: pointer;
}

.post-cut-height {
  max-height: 300px;
  overflow: hidden;
}

.user-avatar {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

#change-profile-photo-btn {
  transform: translate(40px, 40px);
  position: absolute;
}

#play-audio-description-btn {
  position: absolute;
  top: auto;
  bottom: auto;
  left: auto;
  right: auto;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  color: white;
  font-size: 30px;
}

.translucent-white-card {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  padding: 10px;
}

#your-posts-deposit {
  max-width: 640px;
}

.username-profile {
  font-size: 1.7em;
  font-weight: bold;
}

#online-dot {
  display: none;
  background-color: green;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  transform: translate(25px, -20px);
}

.post p img {
  width: 100%;
}

.max-500px {
  max-width: 500px;
}

.isolaatti-name-footer {
  font-family: 'Zen Dots', serif;
}

.grid-3-columns {
  display: grid;
  grid-template: none / auto auto auto;
  grid-gap: 0.4rem;
}

.users-grid {
  display: grid;
  grid-template-columns: repeat(3, 33%);
  grid-gap: 1%;
}

.hover-image-container {
  cursor: pointer;
}

.hover-image-container:hover {
  opacity: 0.6;
}

.success-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*.comments-start-line {*/
/*    height: 2px;*/
/*    width: 1rem;*/
/*    background-color: rgba(27, 10, 185, 0.32);*/
/*}*/

.comments-section {
  /*border-left: solid rgba(27, 10, 185, 0.32) 2px;*/
  margin-left: 15px;
}

.notifications-stack {
  position: absolute;
  bottom: 20px;
  left: 20px;
  display: flex;
  z-index: 1000;
}

.audio-attachment-component {
  display: flex;
  padding: 0.5em;
  align-items: center;
  border: 1px solid #f8f9fa;
  border-radius: 0.25rem;
  background-color: #f8f9fa;
}

.global-audio-player {
  position: relative;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 0 0.5rem;
}

.global-audio-player:hover .global-player-label {
  color: white;
}

.global-audio-player .collapsable-container {
  display: none;
  position: absolute;
  padding: 0.5rem;
  background-color: white;
  width: 400px;
  flex-direction: column;
  box-shadow: 1px 1px 2px rgb(175, 175, 175);
}

.global-audio-player:hover .collapsable-container {
  display: flex;
  left: -50%;
}

.isolaatti-card {
  box-shadow: rgba(225, 225, 225, 0.2) 0px 48px 100px 0px;
  border-radius: 30px;
  background-color: #fafafa;
  padding: 1rem;
}
.primary-border-2px {
  border: 2px solid var(--primary);
}
