/* 
   Erik Cavazos, 2021 
   erik10cavazos@gmail.com
   Styles for sign in and sign out pages
*/
@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
}
body {
    min-height: 100vh;
    /*background-image: url("/res/imgs/pexels-pixabay-220072.jpg")!important;*/
    /*background-color: #330669;*/
    background-blend-mode: soft-light;
    scroll-behavior: smooth;
}
h1{
    text-decoration-style: unset;
    margin-bottom: 5px;
    margin-top: 20px;
}


.sign-in-up-form-container {
    max-width: 400px;
    /*box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;*/
    padding: 1em 0.5em;
    margin-top: 1.2em;
    /*border-radius: 30px;*/
}
#isolaatti-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    text-decoration: none;
}

#isolaatti-icon:before {
    content: "Is";
    font-family: 'Zen Dots', serif;
    color: #eddff6;
    font-size: 40px;
    text-shadow: -3px 4px #6529a4;
    text-decoration: none;
    filter: drop-shadow(-10px 16px 50px rgb(62, 0, 99));
}

.external-content-bar {
    /*box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;*/
    /*background-color: #ffffff;*/
}

article.isolaatti-feature {
    background-color: rgba(98, 0, 189, 0.81);
    color: white;
    flex-direction: column;
    margin: 5px;
    box-sizing: border-box;
    height: calc(100% - 10px);
}

article.isolaatti-feature:hover {
    background-color: cadetblue;
    width: 100%;
}
.isolaatti-feature-content{
    margin: 1em;
}
article.isolaatti-feature .isolaatti-feature-icon{
    padding: 1em;
    font-size: 1.5em;
    background-color: black;
    box-sizing: border-box;
    width: 4em;
    justify-content: center;
}

nav.welcome-page-navbar {
    height: 60px;
    width: 100%;
    /*box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;*/

    display: flex;
    overflow: auto;
    align-items: center;
    padding: 10px;
    background-color: black;
}

nav.welcome-page-navbar a {
    margin: 0 10px;
    font-size: larger;
    color: #ffffff;
}

.footer-font-color {
    /*color: white;*/
}

.footer-font-color a.link {
    color: rgb(3, 3, 3);
    font-weight: lighter;
    margin: 0 0.5rem;
}

footer {
    padding-top: 30px;
    padding-bottom: 40px;
    /*background-color: black;*/
}

footer a {
    font-size: large;
    font-weight: bold;
}

.isolaatti-name-footer {
    font-family: 'Zen Dots', serif;
}

.isolaatti-card {
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    border-radius: 30px;
}
.isolaatti-logo-no-filter {
    font-family: 'Zen Dots', serif;
    font-size: 40px;
    text-decoration: none;
    text-align: center;
    text-shadow: -3px 4px #c9c9c9;
}