@page
@model isolaatti_API.Pages.admin.HerramientasDesarrollo.NotificationMaker

@{
    Layout = "Shared/_LayoutAdminPortal";
    ViewData["Title"] = "Creador de notificaciones";
}
<h1>Creador de notificaciones</h1>
<div class="form-group">
    <form method="post">
        <label for="userId">Id del usuario</label>
        <input type="number" name="userId" class="form-control" id="userId"/>
        <label for="msg">Mensaje</label>
        <input type="text" name="msg" class="form-control mb-2" id="msg"/>
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
</div>