@page
@model isolaatti_API.Pages.admin.HerramientasDesarrollo.WipeFeedHistory

@{
    Layout = "Shared/_LayoutAdminPortal";
    ViewData["Title"] = "Limpiador de Feed de usuarios";
}
@if ((string)ViewData["status"] == "ok")
{
    <div class="alert alert-success">
        Historial del usuario con id <strong>@ViewData["affectedUser"]</strong> limpiado exitosamente. Comenzará a ver publicaciones antiguas!!
    </div>
} 
else if ((string) ViewData["status"] == "error")
{
    <div class="alert alert-danger">
        Ocurrió un error. Es posible que la tabla de historial esté completamente vacía.
    </div>
}
else if ((string) ViewData["status"] == "user_not_found")
{
    <div class="alert alert-danger">
        El usuario con id <strong>@ViewData["affectedUser"]</strong> no existe. No se realizó ningún cambio.
    </div>
}
<div class="d-flex flex-column m-3">
    <h1>Limpiador de feed de usuarios</h1>
    <div class="d-flex m-3">
        <form method="post">
            <div class="d-flex flex-column">
                <label for="userId">Id del usuario</label>
                <input type="number" name="userId" class="form-control" id="userId"/>
                <button class="btn btn-primary mt-1" type="submit">Limpiar feed</button>
            </div>
        </form>
    </div>
</div>